.responsiveImg{
  width: 100%;
  height: auto;
}
.profileContainer{
  position: relative;
  top: -120px;
}
.roundeDiv{
  background-color: rgba(255, 255, 255, 1);
  height: 120px;
  border-radius: 90%;
  position: relative;
  top: 50px;
}
.usernameDetail{
  color: #1d1c1d;
  position: absolute;
  left: 50%;
}
.centerDet{
  position: relative;
  left: -50%;
  top: 2px;
}
