<div class="modal-header">
  <h3 class="modal-title">Nakama picture</h3>
  <button mat-button class="close" (click)="onNoClick()">
    <span>&times;</span>
  </button>
</div>
<div mat-dialog-content>
  <div class="modal-body">
    <div *ngIf="badGifDimension" [ngClass]="{'hideCropper': gifDetected}" class="alert alert-danger">Only square GIF can be uploaded. Resize if first (for example <a href="https://ezgif.com/resize" target="_blank">here</a>) so that Width and Height are equals and upload it again.</div>
    <div *ngIf="badAvatarFormat" class="alert alert-danger">Oops... your file doesn't seem to be appropriate (allowed files: gif, png, jpeg)</div>
    <div *ngIf="avatarSizeTooBig" class="alert alert-danger">
      {{fileTooBigMessage}}
    </div>
    <input #fileInput type="file" (change)="fileChangeEvent($event)" class="upload_input" />
    <!-- image crop feature -->
    <image-cropper [ngClass]="{'hideCropper': gifDetected}" *ngIf="imageCrop" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                   [resizeToWidth]="0" format="png" (imageCropped)="imageCropped($event)">
    </image-cropper>
    <div *ngIf="takePictureButtons" class="d-flex flex-column align-content-center align-items-center">
      <!-- webcam stream -->
      <webcam width="300" height="225" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcamStream"></webcam>
      <br/>
      <!-- snapshot -->
      <div class="snapshot" *ngIf="webcamImage">
        <image-cropper width="300" height="225" [imageBase64]="webcamImage.imageAsDataUrl" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                       [resizeToWidth]="0" (imageCropped)="imageCropped($event)">
        </image-cropper>
      </div>

      <button *ngIf="!pictureTaken" mat-raised-button color="accent" (click)="triggerSnapshot();">Take a picture</button>
      <button *ngIf="pictureTaken" mat-raised-button color="accent" (click)="triggerNewSnapshot();">Take a new picture</button>
    </div>
    <!-- options -->
    <div class="d-flex justify-content-around flex-wrap">
      <div class="littleSpaceUp">
        <button mat-raised-button color="primary" (click)=activateCamera()>Enable webcam <mat-icon>photo_camera</mat-icon>
        </button>
      </div>
      <div class="littleSpaceUp">
        <button mat-raised-button color="primary" (click)="fileInput.click(); resetWebcamSettings()">Choose image <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
      <div class="littleSpaceUp" *ngIf="data.nakama.hasAvatar">
        <button mat-raised-button color="primary" (click)="deleteNakamAvatar()">Delete Avatar <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button [disabled]="confirmButtonDisabled" (click)="onUpload()">Confirm</button>
</div>
