.modal-header{
  padding-top: 0px!important;
  padding-right: 0px!important;
  padding-bottom: 1rem;
  padding-left: 0px!important;
}
.close {
  outline: none;
}
.upload_input {
  display: none;
}
.littleSpaceUp{
  margin-top: 10px;
}
