<div class="desktopMargin fileMenu">

  <mat-button-toggle-group appearance="legacy" #group="matButtonToggleGroup" name="typeFilter" [value]="selectedType" (change)="filterByType(group.value)">
    <mat-button-toggle class="removeFocus" value="All">All</mat-button-toggle>
    <mat-button-toggle value="Image">Image</mat-button-toggle>
    <mat-button-toggle value="Video">Video</mat-button-toggle>
    <mat-button-toggle value="File">File</mat-button-toggle>
  </mat-button-toggle-group>
  <button #docUpload mat-flat-button class="removeFocus desktopDownloadButton positionIcon" color="primary" (click)="openShareDocsUploadDialog()">Upload Files <mat-icon>cloud_upload</mat-icon>
  </button>
  <form id="fileUploadInput" style="display: none" >
    <input type="file" (change)="fileChangeEvent($event)"
           multiple #fileInput>
  </form>
  <button #downloadMobileButton  matTooltip="Upload Files" mat-icon-button class="mobileDownloadButton" (click)="fileInput.click()">
    <mat-icon aria-label="download">cloud_upload</mat-icon>
  </button>
</div>

<div *ngIf="dataLoaded">
  <div [ngClass]="{'fade': scrollTowardFile}" class="row desktopMargin">
    <div *ngIf="filteredFiles.length === 0" class="noDocYet">You have not uploaded any document yet.</div>
    <div *ngFor="let file of filteredFiles" class="col-12 col-sm-6 col-md-4 col-lg-2 imgContainer" [attr.id]="file.highlight && 'highlight'">
      <div class="positionImg">
        <div class="optionFileButton">
          <button mat-icon-button color="accent" (click)="openFileInfoDialog(file._id, fileType(file.filename))">
            <mat-icon aria-label="infition">info</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="downloadFile(file.filename, file.mimetype, file.originalname)">
            <mat-icon aria-label="cloudition">cloud_download</mat-icon>
          </button>
          <button *ngIf="myCurrentWay.isAdmin || file.postedBy" mat-icon-button color="accent" (click)="openDeleteFileDialog(file)">
            <mat-icon aria-label="deletion">delete</mat-icon>
          </button>
        </div>
        <!--<img *ngIf="isImage(file.originalname)" class="imgCardDoc" [attr.src]="docRootUrl + file.filename | secure | async" alt={{file.filename}}>-->
        <app-img-loader *ngIf="isImage(file.originalname)" [imgContainerClass]="imgCardDoc" class="imgCardDoc" [imgSrc]="file.filename" [spinnerSrc]="loadingImg"></app-img-loader>
        <fa-icon [icon]="faFileExcel" class="icons excelColor" *ngIf="isExcel(file.originalname)"></fa-icon>
        <fa-icon [icon]="faFileWord" class="icons wordColor" *ngIf="isWord(file.originalname)"></fa-icon>
        <fa-icon [icon]="faFilePowerpoint" class="icons powerPointColor" *ngIf="isPowerPoint(file.originalname)"></fa-icon>
        <fa-icon [icon]="faFilePdf" class="icons pdfColor" *ngIf="isPdf(file.originalname)"></fa-icon>
        <fa-icon [icon]="faFile" class="icons fileColor" *ngIf="isOther(file.originalname)"></fa-icon>
        <video width="100%" controls *ngIf="isVideo(file.originalname)">
          <source [attr.src]="docMovieRootUrl + file.filename">
        </video>
        <div class="fileNameImg fileTitle" *ngIf="isImage(file.originalname) || isVideo(file.originalname)">{{file.originalname}}</div>
        <div class="fileName fileTitle" *ngIf="!isImage(file.originalname) && !isVideo(file.originalname)">{{file.originalname}}</div>
      </div>
    </div>
  </div>
</div>
