.removeFocus{
  outline: none;
}
.centerUploadButton{
  display: flex;
  justify-content: center;
}
.fileBox{
  width: 200px;
  height: 200px;
  position: relative;
}
.card-img-top {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  align-items: center;
  display: flex;
}
.imgCardDoc {
  width: 100%;
  height: auto;
}
.imgCardDoc:hover {
  transform: scale(1.1);
}
.fileGalery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*margin: 0;
  padding: 0;
  border: 5px solid green;*/
  justify-content: flex-start;
  Width: 95%;
}
.optionFileButton{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  opacity: 1;
}
.optionFileButton{
  display: none;
}
.fileBox .card-img-top:hover .optionFileButton{
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
}
button:focus {outline:0;}
.card-img-top:hover .fileNameImg {
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 3;
  color: white;
  font-size: 12px;
}
.centerGalery{
  display: flex;
  justify-content: center;
}

.imgContainer{
  width: 100%;
  position: relative;
  border: 1px solid white;
}
.imgContainer:before{
  content: "";
  display: block;
  padding-top: 100%; 	/* initial ratio of 1:1*/
}
.col-lg-2{
  padding-right: unset;
  padding-left: unset;
}
.positionImg{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: black;
  align-items: center;
  display: flex;
}

.fade .imgContainer{
  opacity: 0.60;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}

.desktopMargin #highlight.imgContainer{
  box-shadow: 3px 3px 15px #666;
  border-color:#FEA7D1;
  background: #FEA7D1;
  color: #fff;
  cursor: pointer;
  /*Opacity*/
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

.imgContainer .positionImg:hover .optionFileButton{
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
}
.fileNameImg{
  display: none;
}
.positionImg:hover .fileNameImg {
  display: block;
  position: absolute;
  bottom: 0;
  left: 4px;
  z-index: 3;
  color: white;
  font-size: 12px;
}
.fileName {
  display: block;
  position: absolute;
  bottom: 0;
  left: 4px;
  z-index: 3;
  color: white;
  font-size: 12px;
}
.desktopMargin{
  margin: 0 15px;
}
@media (max-width: 415px){
  .desktopMargin {
    margin: unset;
  }
  .optionFileButton{
    display: flex;
  }
}
.icons {
  font-size: 8em;
  margin: auto;
}
.excelColor{

}
.excelColor{
  color: #1E6F42;
}
.powerPointColor{
  color: #D14524;
}
.wordColor{
  color: #2A5699;
}
.pdfColor{
  color: #B20F1D;
}
.fileColor{
  color: #FEA7D1;
}
.fileTitle{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
}
.fileMenu{
  display: flex;
  justify-content: space-between;
}
.positionIcon .mat-icon {
  position: relative;
  bottom: 2px;
  left: 3px;
}
.mobileDownloadButton {
  display: none;
}
.mobileDownloadButton .mat-icon {
  position: relative;
  bottom: 2px;
  color: #FEA7D1;
}

@media (max-width: 992px){
  .mobileDownloadButton {
    display: block;
    margin-right: 5px;
  }
  .desktopDownloadButton {
    display: none;
  }
}
.mobileDownloadButton.mat-mini-fab {
  width: 30px!important;
  height: 30px!important;
}
.mobileDownloadButton .mat-icon{
  font-size: 20px;
}
.noDocYet{
  color:#FCA5CF;
  font-size: 20px;
  font-weight: 300;
  margin-left: 15px;
}
.desktopDownloadButton.mat-flat-button {
  height: 30px;
  position: relative;
  top: 3px;
  line-height: 30px;
}
