.centerTitleInCenter{
  position: relative;
  left: -50%;
  top: 2px;
}
.groupTitle{
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 450px){
  .groupTitle{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width:160px;
  }
}

@media (max-width: 380px){
  .groupTitle{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width:120px;
  }
}

@media (max-width: 330px){
  .groupTitle{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width:60px;
  }
}
