.modal-header{
  padding: 0px;
}

.nakamaWayTypo{
  max-height: 48px;
  position: relative;
  bottom: 3px;
}

.buttonMarginRight{
  margin-right: 10px;
}

.newNakawayFlex {
  display: flex;
  flex-wrap: wrap;
}

.newNakawayFlex > * {
  width: 100%;
}

.NakamAvatarListGroup {
  height: 35px;
  width: 35px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  top: 5px;
}

.nakamasGroupSearchRow{
  display: flex;
  flex-direction: row;
}

.nakamasGroupSearchData{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.NakamaGroupUsernameSearch{
   padding-left: 10px;
   font-size: 14px;
   font-weight: 600;
   line-height: 18px;
 }

.firstAndLastNameGroupSearch {
  padding-left: 10px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.littleSpaceUp{
  margin-top: 10px;
}
.centerSpinner {
  margin:0 auto;
}
