<div class="modal-header">
  <h3 class="modal-title">Create <img src="../../../../assets/nwlogo2.png" class="nakamaWayTypo" alt="nakamaWay"></h3>
  <button mat-button class="closeNakamawayDialog" (click)="onNoClick()">
    <span>&times;</span>
  </button>
</div>
<div *ngIf="nakamas.length === 0">It seems you don't have any nakama yet. Start adding them in the nakama section located in the home Page</div>
<mat-spinner class="centerSpinner" *ngIf="!dataLoaded" color="accent" diameter="30"></mat-spinner>
<div class="container" *ngIf="nakamas.length > 0 || !dataLoaded">
    <div [formGroup]="newNakaGroupForm" class="newNakawayFlex">
    <mat-form-field>
      <input matInput formControlName="newNakamaGroupName" placeholder="Name your group" name="wayName" type="text">
      <mat-error *ngIf="groupName.hasError('maxlength')">
        Your NakamaWay name should have <strong>50 characters max</strong>
      </mat-error>
      <mat-error *ngIf="groupName.hasError('minlength')">
        Your NakamaWay name should have <strong>at least 1 character</strong>
      </mat-error>
      <mat-error *ngIf="groupName.hasError('required')">
        Please give a name to your NakamaWay
      </mat-error>
    </mat-form-field>
    </div>

  <div class="newNakawayFlex littleSpaceUp">
    <ng-select [items]="people3$ | async"
               bindLabel="friend.username"
               [multiple]="true"
               [hideSelected]="true"
               [loading]="people3Loading"
               [typeahead]="people3input$"
               [(ngModel)]="selectedPersons"
               [closeOnSelect]="false"
               placeholder="Add some Nakamas"
               typeToSearchText="Search your nakama">
      <ng-template ng-option-tmp let-item="item" style="position: absolute;z-index: 1000; overflow: visible">
        <div class="nakamasGroupSearchRow">
        <img class="NakamAvatarListGroup" [attr.src]="item.friend.avatarUrl" alt='nakamaDefaultPicture'>
        <div class="nakamasGroupSearchData">
          <div class="NakamaGroupUsernameSearch">{{item.friend.username}}</div>
          <div class="firstAndLastNameGroupSearch"><span>{{item.friend.firstName}} </span><span>{{item.friend.lastName}}</span></div>
        </div>
        </div>
      </ng-template>
    </ng-select>
  </div>
</div>

<div class="modal-footer" *ngIf="nakamas.length > 0 || !dataLoaded">
  <mat-dialog-actions>
    <button class="buttonMarginRight" mat-flat-button color="primary" (click)="onNoClick()">Cancel</button>
    <button mat-flat-button color="primary" [disabled]="(!newNakaGroupForm.valid || selectedPersons.length === 0)" (click)="newGroup()">
      Create
    </button>
  </mat-dialog-actions>
</div>
