<div class="desktopMargin">
  <div class="calendarNav">
      <mat-button-toggle-group
        appearance="legacy"
        #group="matButtonToggleGroup"
        [value]="selectedType"
        (change)="toggleView(group.value)"
        name="calendarView"
        class="timeNav desktopCalendarView">
        <mat-button-toggle
          value="Month"
          (click)="view = CalendarView.Month"
          [class.active]="view === CalendarView.Month">
          Month
        </mat-button-toggle>
        <mat-button-toggle
          value="Week"
          (click)="view = CalendarView.Week"
          [class.active]="view === CalendarView.Week">
          Week
        </mat-button-toggle>
        <mat-button-toggle
          value="Day"
          (click)="view = CalendarView.Day"
          [class.active]="view === CalendarView.Day">
          Day
        </mat-button-toggle>
      </mat-button-toggle-group>
    <div *ngIf="view === CalendarView.Month" class="mobileMonthCalendarView"></div>
    <div *ngIf="view === CalendarView.Day" class="mobileDayCalendarView" (click)="view = CalendarView.Month">
      <mat-icon>navigate_before</mat-icon><span>{{ viewDate | date:'MMM' }}</span>
    </div>
    <div class="centerDateTitle">
      <div class="centerDateCenter">
        <button mat-icon-button
                class="noOutline leftIco"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="activeDayIsOpen = false">
          <mat-icon aria-label="previous">navigate_before</mat-icon>
        </button>
        <div class="noLineBreak">
          <h4 class="dateTitle" (click)="picker.open()">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
          <input [matDatepicker]="picker" [formControl]="date" class="hided"
                 (dateChange)="uiPicker('change', $event)">
          <mat-datepicker touchUi #picker
                          startView="year"
                          (monthSelected)="chosenMonthHandler($event, picker)">
          </mat-datepicker>
        </div>
        <button mat-icon-button
                class="noOutline rightIco"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="activeDayIsOpen = false">
          <mat-icon aria-label="Next">navigate_next</mat-icon>
        </button>
      </div>
    </div>

  <button mat-flat-button class="noOutline desktopAddEventButton" color="primary" (click)="openCalendarEventDialog('NEWEVENT')">New Event <mat-icon>add</mat-icon>
  </button>
    <button mat-icon-button class="noOutline mobileAddEventButton" (click)="openCalendarEventDialog('NEWEVENT')">
      <mat-icon aria-label="addEvent">add</mat-icon>
    </button>
  </div>

  <ng-template #customDesktopCellTemplate let-day="day" let-locale="locale">
    <div [matMenuTriggerFor]="newevent" (menuClosed)="menuClosed()" (menuOpened)="menuOpened(day.date)">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
      <span class="cal-day-number"
      >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
      >
    </div>
    <div class="eventsDetails" *ngIf="day.badgeTotal === 0" [matMenuTriggerFor]="newevent" (menuClosed)="menuClosed()" (menuOpened)="menuOpened(day.date)"></div>
    <small class="eventsDetails" *ngIf="day.badgeTotal > 0" [ngClass]="{'detailsToday': day.isToday}" [matMenuTriggerFor]="newevent" (menuClosed)="menuClosed()" (menuOpened)="menuOpened(day.date)">
      <div *ngFor="let event of day.events; let i = index" class="limiText" [ngClass]="{'moreThanOneDayEvent': dateDiff(event.start, event.end)>0, 'hided' : i>2, 'oneDayEvent' : dateDiff(event.start, event.end) === 0}" (click)="editEvent(event)">
        <span [ngClass]="{'invisibility': dateDiffMoment(event.start, day.date)>0}">{{ displayEvenTitle(startHour(event.start) + event.title) }}</span>
      </div>
      <div *ngIf="day.events.length > 3" class="moreEvents" (click)="goToDayView(day.date)">see more events...</div>
    </small>
  </ng-template>

  <mat-menu #newevent="matMenu" [overlapTrigger]="false" xPosition="before" yPosition="below">
    <div class="eventMenu" (click)="$event.stopPropagation()">
      <div *ngIf="endDateBeforeStartDate"
           class="alert alert-danger">
        Event end date must be after the start date
      </div>
      <div *ngIf="eventRequestError"
           class="alert alert-danger">
        Something went wrong, please try again
      </div>
      <div class="newNakawayFlex">
        <mat-form-field>
          <input matInput placeholder="Name your event" name="eventTitle" type="text" [(ngModel)]="newEvent.title">
        </mat-form-field>
      </div>
      <div class="timeNav justify-content-between">
        <mat-form-field class="full-width">
        <input
          matInput
          type="text"
          mwlFlatpickr
          [(ngModel)]="newEvent.start"
          (ngModelChange)="noDateUndefined()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Start"
        />
          <mat-icon matSuffix>event</mat-icon>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            type="text"
            mwlFlatpickr
            [(ngModel)]="newEvent.end"
            (ngModelChange)="enDateBeforeStartDate()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="End"
          />
          <mat-icon matSuffix>event</mat-icon>
        </mat-form-field>
      </div>
      <div class="timeNav justify-content-between">
      <mat-form-field class="full-width">
        <mat-select placeholder="Alert" [(ngModel)]="newEvent.alert">
          <mat-option *ngFor="let state of alert"
                      [value]="state.value">{{state.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Place" name="eventPlace" type="text" [(ngModel)]="newEvent.place">
          <mat-icon matSuffix>place</mat-icon>
        </mat-form-field>
      </div>
      <div class="newNakawayFlex">
        <mat-form-field>
          <textarea matInput placeholder="Description" [(ngModel)]="newEvent.description"></textarea>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-end">
        <button *ngIf="eventEdition" mat-raised-button class="marginLeft" (click)="deleteCalendarEvent()" color="warn">Delete</button>
        <button mat-raised-button color="primary" class="marginLeft" (click)="newEventMenu.closeMenu()">Cancel</button>
        <button *ngIf="!eventEdition" mat-raised-button class="marginLeft" [disabled]="!newEvent.title" (click)="createNewEvent()" color="primary">Save</button>
        <button *ngIf="eventEdition" mat-raised-button class="marginLeft" [disabled]="compare()" (click)="editCalendarEvent()" color="primary">Save</button>
      </div>
    </div>
  </mat-menu>

  <ng-template #customMobileCellTemplate let-day="day" let-locale="locale">
    <div class="maxHeight">
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      <span class="cal-day-badge" [ngClass]="{'badgUp': day.isToday}" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    </div>
  </ng-template>

  <ng-template #hourSegmentTemplate let-segment="segment" let-locale="locale">
    <div
      class="cal-hour-segment"
      [class.cal-hour-start]="segment.isStart"
      [class.cal-after-hour-start]="!segment.isStart"
      [ngClass]="segment.cssClass">
    <span class="cal-time" [attr.id]="hourIds(segment.date)">
      {{ segment.date | calendarDate:'dayViewHour':locale }}
    </span>
    </div>
  </ng-template>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [weekStartsOn]="1"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [cellTemplate]="innerWidth >= 850 ? customDesktopCellTemplate : customMobileCellTemplate"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [weekStartsOn]="1"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [hourSegmentTemplate]="hourSegmentTemplate"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>
  <br>
</div>
