.desktopMargin{
  margin: 0 40px;
}
@media (max-width: 415px){
  .desktopMargin {
    margin: unset;
  }
}
.hided {
  display: none;
}
mat-form-field mat-icon{
  color: #FEA7D1;
}
.calendarNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.timeNav{
  display: flex;
  flex-direction: row;
}
.centerDateTitle{
  position: absolute;
  left: 50%;
}
.centerDateCenter{
  display: flex;
  flex-direction: row;
  position: relative;
  left: -50%;
}
.dateTitle{
  font-size: 16px;
  font-weight: 400;
  color: #FEA7D1;
  position: relative;
  top: 7px;
  cursor: pointer;
  padding: 0 10px;
}
.dateTitle:hover {
  color: white;
  background-color: #3F51B5;
  border-radius: 10px;
}
.noOutline{
  outline: none;
}
.desktopAddEventButton.mat-flat-button {
   height: 30px;
   position: relative;
   top: 3px;
   line-height: 30px;
 }
.mobileAddEventButton {
  display: none;
}
.mobileMonthCalendarView {
  display: none;
}
.mobileDayCalendarView{
  display: none;
}
.mobileDayCalendarView span{
  font-size: 14px;
  font-weight: 300;
  max-width: 55px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;;
  cursor: pointer;
}
@media (max-width: 850px){
  .mobileAddEventButton {
    display: block;
    color: #FEA7D1;
  }
  .desktopAddEventButton {
    display: none;
  }
  .desktopCalendarView{
    display: none;
  }
  .mobileMonthCalendarView{
    display: block;
    width: 10vw;
  }
  .mobileDayCalendarView{
    display: flex;
    flex-direction: row;
    color: #FEA7D1;
    align-self: center;
  }
  .dateTitle{
    font-size: 14px;
    font-weight: 300;
    top: 10px;
  }
  .rightIco{
    position: relative;
    right: 15px;
  }
  .leftIco{
    position: relative;
    left: 15px;
  }
}
.limiText{
  //max-width: 10vw;
  text-overflow: ellipsis;
  //white-space: nowrap;
  overflow: hidden;
  padding-left: 4px;
  color: rgba(32,33,36,0.38);
  margin-bottom: 4px;
  font-size: 11px;
}
.limiText:hover{
  background-color: #f5c4fb;
  color: white!important;
  cursor: pointer;
}
.limiText:hover .invisibility {
  visibility: visible;
  color: white!important;
}
.detailsToday{
  margin-top: -17px;
}
.moreThanOneDayEvent{
  background-color: rgb(179, 225, 247);
  padding-left: 6px;
}
.oneDayEvent{
  background-color: rgb(179, 225, 247);
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 2px;
}
.cal-month-view .cal-day-badge.badgColor {
  background-color: #FEA7D1!important;
}
.invisibility{
  visibility: hidden;
}
.moreEvents{
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  color: #3F51B5;
}
.maxHeight{
  max-height: 80px;
}
.eventsDetails{
  height: 100%;
}
.eventMenu{
  padding: 20px;
  min-width: 500px;
}
.newNakawayFlex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.newNakawayFlex > * {
  width: 100%;
}

@media (max-width: 645px) {
  .badgUp{
    margin-top: -7px;
  }
}
.noLineBreak{
  white-space: nowrap;
}
.full-width{
  width: 48%;
}
.marginLeft {
  margin-left: 10px;
}
.rabbot span {
  color: #ff3d7f !important;
}
