.searchForm {
  min-width: 400px;
  width: 100%;
  padding: 0 20px;
}

.searchFormFullWidth {
  width: 100%;
}

.NakamSearchList {
  height: 30px;
  width: 30px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  top: 3px;
  cursor: pointer;
}

.fillRemainingSpace {
  flex: 1 1 auto;
}

.mat-flat-button{
  min-width: 20% !important;
}

.posRight{
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.noCursor{
  cursor: unset;
}

.NakamaUsernameSearch{
  padding-left: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.firstAndLastNameSearch {
  padding-left: 10px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.nakamasSearchData{
  display: flex;
  flex-direction: column;
}
.alreayNakamaMaxHeight{
  max-height: 35px;
  cursor: pointer;
}
.nakamasGroupSearchRow{
  display: flex;
  flex-direction: row;
}
.nakamasGroupSearchData{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.NakamaGroupUsernameSearch{
  padding-left: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.firstAndLastNameGroupSearch {
  padding-left: 10px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.evenStop {
  display: flex;
  width: 100%;
}
