<form class="searchForm">
  <mat-form-field floatLabel="never" class="searchFormFullWidth">
    <input type="text" placeholder="Add new Nakama" aria-label="Number" matInput [formControl]="myControl"
           [matAutocomplete]="auto" #inputAutoComplit>
    <mat-icon matPrefix>search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let user of rawfilteredOptions" [value]="user" class="noCursor">
        <div (click)="$event.stopPropagation()" class="evenStop">
        <img class="NakamSearchList" [attr.src]="user.avatarUrl" alt='nakamaDefaultPicture' (click)="openNakamaDetailDialog(user.avatarUrl); $event.stopPropagation()">
        <div class="nakamasSearchData">
          <div class="NakamaUsernameSearch">{{user.username}}</div>
          <div class="firstAndLastNameSearch"><span>{{user.firstName}} </span><span>{{user.lastName}}</span></div>
        </div>
        <img  *ngIf="user.alreadyNakama" class="posRight alreayNakamaMaxHeight" src='../../../../assets/BCoMax.png' alt='nakamaDefaultPicture' (click)="openNakamaDetailDialog('../../../../assets/BCoMax.png'); $event.stopPropagation()">
        <!--<button *ngIf="user.alreadyNakama" class="posRight" mat-flat-button color="primary">Already Nakama</button>-->
        <button *ngIf="user.requestYou" class="posRight" mat-flat-button color="primary" (click)="acceptNakamaRequest(user._id); $event.stopPropagation()">Accept Request</button>
        <button *ngIf="user.requestPending" class="posRight" mat-flat-button color="primary" (click)="cancelRequest(user._id, user.username); $event.stopPropagation()">Cancel Request</button>
        <button *ngIf="!user.requestPending && !user.alreadyNakama && !user.requestYou" class="posRight" mat-flat-button color="primary" (click)="sendNakamaRequest(user._id, user.username); $event.stopPropagation()">Add</button>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
