<div class="container deleteModalFooterLine">
  <div class="newNakawayFlex">
    Are you sure you want to remove {{data.nakamaUsername}} as your nakama?
  </div>
</div>

<div class="modal-footer">
  <mat-dialog-actions>
    <button class="buttonMarginRight" mat-flat-button color="primary" (click)="onNoClick()">Cancel</button>
    <button mat-flat-button color="primary" (click)="deleteNakama(data.nakamaId, data.nakamaUsername)">OK</button>
  </mat-dialog-actions>
</div>
