<div class="container deleteModalFooterLine">
  <div class="newGroupFlex">
    Are you sure you want to leave the NakamaWay:&nbsp;<strong>{{data.groupName}}</strong><span *ngIf="data.isAdmin">&nbsp;and give up your admin privileges?</span>
  </div>
</div>

<div class="modal-footer">
  <mat-dialog-actions>
    <button class="buttonMarginRight" mat-flat-button color="primary" (click)="onNoClick()">Cancel</button>
    <button mat-flat-button color="primary" (click)="leaveWay(data.groupId, data.groupName)">OK</button>
  </mat-dialog-actions>
</div>
