<div class="inner-addon right-addon menuMarginRight">
  <mat-icon>search</mat-icon>
  <input [formControl]="groupControl" type="text" placeholder="Go to a Way" (click)="clickedInsideInput($event)">
  <div #groupResults *ngIf="myGroupList.length > 0" class="myGroupResults" >
    <div class="groupItem" *ngFor="let group of myGroupList" (click)="clickedInside($event, group._id, group.groupName)">
      <img class="groupSearchList" src={{group.avatarUrl}} alt='grouPicture'>
      <div class="groupName">{{group.groupName}}</div>
    </div>
  </div>
</div>
