input[type=text] {
  font-size: 12px;
  height: 30px;
  width: 200px;
  background-color: #F5F5F5;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float: right;
  border:1px solid #F0F0F0;
  text-indent:10px;
}

input:focus{
  outline: none;
  border:1px solid #f5c4fb;
}

input[type=text]:focus {
  width: 100%;
}

.inner-addon {
  position: relative;
  width: 300px;
}

.inner-addon mat-icon {
  position: absolute;
  padding: 5px;
  pointer-events: none;
}

.right-addon input {
  padding-right: 30px;
}

.right-addon mat-icon {
  right: 11px;
}

.menuMarginRight{
  margin-right: 25px;
}

@media screen and (max-width: 775px) {
  input[type=text] {
    width: 20px;
    background-color: unset;
    border: unset;
  }
  input:focus{
    background-color: #F5F5F5;
    border:1px solid #f5c4fb;
  }
  .inner-addon {
    position: relative;
    width: 300px;
  }
  .menuMarginRight {
    margin-right: 18px;
  }
}

@media screen and (max-width: 590px) {
  input[type=text] {
    width: 20px;
    background-color: unset;
    border: unset;
  }
  input:focus{
    background-color: #F5F5F5;
    border:1px solid #f5c4fb;
  }
  .inner-addon {
    position: relative;
    width: 200px;
  }
  .menuMarginRight {
    margin-right: 18px;
  }
}

@media screen and (max-width: 500px) {
  input[type=text] {
    width: 20px;
    background-color: unset;
    border: unset;
  }
  input:focus{
    background-color: #F5F5F5;
    border:1px solid #f5c4fb;
  }
  .inner-addon {
    position: relative;
    width: 180px;
  }
}

@media screen and (max-width: 380px) {
  input[type=text] {
    width: 20px;
    background-color: unset;
    border: unset;
  }
  input:focus{
    background-color: #F5F5F5;
    border:1px solid #f5c4fb;
  }
  .inner-addon {
    position: relative;
    width: 150px;
  }
}

@media screen and (max-width: 330px) {
  input[type=text] {
    width: 20px;
    background-color: unset;
    border: unset;
  }
  input:focus{
    background-color: #F5F5F5;
    border:1px solid #f5c4fb;
  }
  .inner-addon {
    position: relative;
    width: 100px;
  }
  .groupSearchList {
    display: none;
  }
}

@media (max-width: 475px){
  .menuMarginRight {
    margin-right: 0px;
  }
}

.hideResults {
  display: none;
}

.myGroupResults {
  width: 100%;
  //display: block;
  background: rgba(255,255,255,1);
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  position: absolute;
  top: 30px;
  z-index: 1;
  -webkit-animation: slide-down .4s ease-out;
  -moz-animation: slide-down .4s ease-out;
}

.groupItem {
  color: #444;
  cursor:pointer;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.groupName{
  padding-left: 10px;
  font-size: 14px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.groupItem:hover {
  background-color: #F8F8F8;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

.groupSearchList {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  top: 3px;
  margin-left: 10px;
}
