.flexContainer{
  display: flex;
  justify-content: center;
}

.settingsCard{
  max-width: 600px;
  margin-top: 20px;
}

.centerAvatar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.seeText{
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
}

#btnPhoto {
  border-radius: 7px;
}

@-moz-document url-prefix() {
  #btnPhoto {
    margin-top: 20px;
  }
}

.avatarRadius:hover {
  opacity: 0.6;
}

.avatarRadius{
  border-radius: 7px;
  height: 100%;
  width: auto;
}

.avatarBorder {
  height: 162px;
  width: 162px;
  overflow: hidden;
}

#btnPhoto .pencil {
  visibility: hidden;
}

#btnPhoto:hover .pencil {
  visibility: visible;
}

.pencil {
  z-index: 10;
  position: absolute;
  right: 10px;
}

button:focus {
  outline: none;
  border: 0;
  background: none;
}

.mat-raised-button{
  padding-left: 0px;
  padding-right: 0px;
}

.centerNakaName{
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconFont {
  font-size: medium;
}
.editSettings{
  cursor: pointer;
}

.editSettings:hover{
  opacity: 0.6;
}

.centerActions{
  display: flex;
  justify-content: center;
}

.centerForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centerForm > * {
  width: 100%;
}
