<div class="container" *ngIf="dataLoaded">
    <div class="flexContainer">
        <mat-card class="settingsCard">
          <div class="centerAvatar">
            <h2>Nakama Settings</h2>
            <mat-card-header>
              <mat-divider></mat-divider>
              <br>
            </mat-card-header>
            <button *ngIf="!showSettingErrorMsg" mat-raised-button (click)="openAvatarDialog()" id="btnPhoto" class="mat-elevation-z0">
                <div class="avatarBorder">
                  <img class="avatarRadius" src={{nakama.avatarUrl}} alt='nakamAvatar'>
                  <mat-icon class="pencil">edit</mat-icon>
                </div>
              </button>
            <div *ngIf="showSettingErrorMsg" class="alert alert-danger">
              {{errorMessage}}
            </div>
            </div>
          <br>
          <mat-divider></mat-divider>
          <br>
          <mat-card-content>

            <p *ngIf="actionsNeeded()" class="editSettings" (click)="updateNakamaName()">
              Username: <strong>{{nakama.username}}  </strong>  <mat-icon class="iconFont">edit</mat-icon>
            </p>
            <div *ngIf="changeNakaname" class="centerForm" [formGroup]="newNakaNameForm">
              <mat-form-field>
                <strong><input disabled placeholder="Current Username" value={{nakama.username}} matInput name="username" type="text"></strong>
              </mat-form-field>
              <mat-form-field>
                <strong><input placeholder="New Username" matInput formControlName="newNakamaUsername" name="username" type="text"></strong>
                <mat-error *ngIf="newNakaNameForm.get('newNakamaUsername').hasError('maxlength')">
                  Your new username should have <strong>21 characters max</strong>
                </mat-error>
                <mat-error *ngIf="newNakaNameForm.get('newNakamaUsername').hasError('minlength')">
                  Your new username should have <strong>at least 2 characters</strong>
                </mat-error>
                <mat-error *ngIf="newNakaNameForm.get('newNakamaUsername').hasError('required')">
                  New username is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <strong><input placeholder="Current Password" matInput formControlName="currentPwForUsername" name="password" type="password"></strong>
                <mat-error *ngIf="newNakaNameForm.get('currentPwForUsername').hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <p *ngIf="actionsNeeded()" class="editSettings" (click)="updateNakaMail()">
              Email: <strong>{{nakama.email}}  </strong>   <mat-icon class="iconFont" (click)="changEmail">edit</mat-icon>
            </p>
            <div *ngIf="changEmail" class="centerForm" [formGroup]="newNakaEmailForm">
              <mat-form-field>
                <strong><input disabled placeholder="Current Email" matInput value={{nakama.email}} name="email" type="email"></strong>
              </mat-form-field>
              <mat-form-field>
                <strong><input placeholder="New Email" matInput formControlName="newNakamaEmail" name="email" type="email"></strong>
                <mat-error *ngIf="newNakaEmailForm.get('newNakamaEmail').hasError('required')">
                  New email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="newNakaEmailForm.get('newNakamaEmail').hasError('pattern')">
                  Please enter a valid email
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <strong><input placeholder="Current Password" matInput formControlName="currentPwForEmail" name="password" type="password"></strong>
                <mat-error *ngIf="newNakaEmailForm.get('currentPwForEmail').hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <p *ngIf="actionsNeeded()" class="editSettings" (click)="updatePw()">
              Password: <strong>**********  </strong>   <mat-icon class="iconFont" (click)="changePw">edit</mat-icon>
            </p>
            <div *ngIf="changePw" class="centerForm" [formGroup]="newNakaPwForm">
              <mat-form-field>
                <strong><input matInput placeholder="Current password" formControlName="currentNakamaPw" type="password" name="curentPw"></strong>
                <mat-error *ngIf="newNakaPwForm.get('currentNakamaPw').hasError('required')">
                  Please enter your <strong>current</strong> password
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <strong><input matInput placeholder="New password" formControlName="newPw" type="password" name="newPw" (keyup)="checkPass()"></strong>
                <mat-error *ngIf="newNakaPwForm.get('newPw').hasError('required')">
                  Please enter a <strong>new</strong> password
                </mat-error>
                <mat-error *ngIf="checkPass() === 'uppercase'">
                  should contain at least 1 uppercase
                </mat-error>
                <mat-error *ngIf="checkPass() === 'Lowercase'">
                  should contain at least 1 lowercase
                </mat-error>
                <mat-error *ngIf="checkPass() === 'Digit'">
                  should contain least 1 number
                </mat-error>
                <mat-error *ngIf="checkPass() === 'atleast7'">
                  should contain at least 7 characters
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <strong><input matInput placeholder="Confirm new password" formControlName="confirmNewPw"  type="password" name="confirmNewPw"></strong>
                <mat-error *ngIf="newNakaPwForm.get('confirmNewPw').hasError('required')">
                  Please confirm your <strong>new</strong> password
                </mat-error>
                <mat-error *ngIf="newNakaPwForm.get('newPw').value !== newNakaPwForm.get('confirmNewPw').value">
                  Password mismatch
                </mat-error>
              </mat-form-field>
              <a routerLink="/forgotpw" href="">Forgot your password?</a>
            </div>
          </mat-card-content>
          <mat-card-actions class="centerActions" *ngIf="!actionsNeeded()">
            <button *ngIf="changeNakaname" mat-button [disabled]="!newNakaNameForm.valid" (click)="saveNewNakaName(newNakaNameForm.value)">SAVE</button>
            <button *ngIf="changEmail" mat-button [disabled]="!newNakaEmailForm.valid" (click)="saveNewNakaMail(newNakaEmailForm.value)" >SAVE</button>
            <button *ngIf="changePw" mat-button [disabled]="!newNakaPwForm.valid" (click)="saveNewNakaPw(newNakaPwForm.value)" >SAVE</button>
            <button mat-button (click)="resetBoolSettings()">CANCEL</button>
          </mat-card-actions>
        </mat-card>
  </div>
</div>
