.centerSpinner {
  margin:35px auto;
}
.realcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.realcontainer .alert {
  margin-top: 10px;
  margin-bottom: unset;
}
.errorContainer{
  display: flex;
  align-items: center;
  width: 600px;
  justify-content: center;
}
.notificationSection{
  width: 600px;
  display: flex;
  flex-direction: column;
}
.sectioNotif{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.sectioNotif mat-icon:hover {
  animation: roll 400ms infinite;
}
.sectioNotif mat-icon {
  animation: roll 200ms 10;
  color: #FCA5CF;
}
@keyframes roll {
  from { transform: rotate(-40deg); }
  to { transform: rotate(20deg); }
}
.sectioNotif strong{
  font-size: 20px;
  font-weight: 400;
}
.switchOff{
  padding-right: 8px;
}
.hided {
  visibility: hidden;
}
.switchOn{
  padding-left: 8px;
}
.notif {
  width: 160px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 610px){
  .errorContainer{
    width: 400px;
  }
  .notificationSection{
    width: 400px;
  }
  .switchOff{
    display: none;
  }
  .switchOn{
    display: none;
  }
  .notif{
    width: 100px;
  }
}
@media (max-width: 410px){
  .errorContainer{
    width: 95%;
  }
  .notificationSection{
    width: 95%;
  }
}
.notifList{
  padding: 8px 0;
  border-bottom: 1px solid #d7d7d7;
}
li:last-child {
  border-bottom: none;
}
ul
{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.notif mat-icon{
  font-size: 20px;
  position: relative;
  top: 5px;
}

.notif span{
  font-size: 12px;
}
.notificationInfo{
  font-size: 12px;
  color: grey;
  font-weight: 500;
  position: relative;
  top: 2px;
}
.wayAvatar {
  height: 21px;
  width: 21px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 3px;
  position: relative;
  bottom: 1px;
}
.groupName{
  color: #3F51B5;
  font-weight: 500;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
section span{
  font-size: 10px;
  color: grey;
  font-weight: 500;
  position: relative;
  bottom: 2px;
}
