<mat-spinner class="centerSpinner" *ngIf="!dataLoaded" color="accent" diameter="70"></mat-spinner>
<div class="realcontainer" *ngIf="dataLoaded">
  <div class="errorContainer">
    <div *ngIf="showGroupSettingErrorMsg" class="alert alert-danger">
      {{errorMessage}}
    </div>
  </div>
  <div class="notificationSection">
    <div class="sectioNotif">
      <strong>Notification preferences</strong>
      <mat-icon>notifications_active</mat-icon>
    </div>
    <mat-divider></mat-divider>
    <ul>
      <li class="notifList d-flex flex-row align-items-center">
        <div class="notif">
          <img class="wayAvatar" [attr.src]="myCurrentWay.avatarUrl" alt='wayAvatar' (click)="openNakamaDetailDialog(myCurrentWay.avatarUrl)">
          <span class="groupName">{{myCurrentWay.groupName}}</span>
        </div>
        <div class="notificationInfo">Turn <strong>{{!myPreferences.allNotifOff ? 'off' : 'on'}}</strong> all way notifications</div>
        <span class="fill-remaining-space"></span>
        <section>
          <span class="switchOff">ON</span>
          <mat-slide-toggle
            color="accent"
            (change)="updateWayNotification(notifPrefType.allNotifOff, $event)"
            [checked]="myPreferences.allNotifOff">
          </mat-slide-toggle>
          <span class="switchOn">OFF</span>
        </section>
      </li>
      <li class="notifList d-flex flex-row align-items-center">
        <div class="notif">
          <mat-icon color="primary">chat</mat-icon>
          <span>Chat</span>
        </div>
        <div class="notificationInfo">Chat-related notifications</div>
        <span class="fill-remaining-space"></span>
        <section>
          <span class="switchOff">OFF</span>
          <mat-slide-toggle
            color="accent"
            (change)="updateWayNotification(notifPrefType.chat, $event)"
            [checked]="myPreferences.chat">
          </mat-slide-toggle>
          <span class="switchOn">ON</span>
        </section>
      </li>
      <li class="notifList d-flex flex-row align-items-center">
        <div class="notif">
          <mat-icon color="primary">calendar_today</mat-icon>
          <span>Calendar</span>
        </div>
        <div class="notificationInfo">Calendar notifications (event, alert)</div>
        <span class="fill-remaining-space"></span>
        <section>
          <span class="switchOff">OFF</span>
          <mat-slide-toggle
            color="accent"
            (change)="updateWayNotification(notifPrefType.calendar, $event)"
            [checked]="myPreferences.calendar">
          </mat-slide-toggle>
          <span class="switchOn">ON</span>
        </section>
      </li>
      <li class="notifList d-flex flex-row align-items-center">
        <div class="notif">
          <mat-icon color="primary">folder_shared</mat-icon>
          <span>Shared Files</span>
        </div>
        <div class="notificationInfo">When a new file is uploaded</div>
        <span class="fill-remaining-space"></span>
        <section>
          <span class="switchOff">OFF</span>
          <mat-slide-toggle
            color="accent"
            (change)="updateWayNotification(notifPrefType.sharedFiles, $event)"
            [checked]="myPreferences.sharedFiles">
          </mat-slide-toggle>
          <span class="switchOn">ON</span>
        </section>
      </li>
      <li class="notifList d-flex flex-row align-items-center">
        <div class="notif">
          <mat-icon color="primary">settings</mat-icon>
          <span>Settings</span>
        </div>
        <div class="notificationInfo">When the way name/avatar is changed</div>
        <span class="fill-remaining-space"></span>
        <section>
          <span class="switchOff">OFF</span>
          <mat-slide-toggle
            color="accent"
            (change)="updateWayNotification(notifPrefType.settings, $event)"
            [checked]="myPreferences.settings">
          </mat-slide-toggle>
          <span class="switchOn">ON</span>
        </section>
      </li>
    </ul>


  </div>

</div>
