<button mat-mini-fab class="addMember" (click)="openNakamaCreationDialog()">
  <mat-icon aria-label="add member">person_add</mat-icon>
</button>
<h3>Way Dashboard
  <mat-icon>dashboard</mat-icon>
</h3>
<div *ngIf="showSettingErrorMsg" class="alert alert-danger">
  {{errorMessage}}
</div>
<div class="dashboard" *ngIf="dataLoaded; else loading">
  <div class="globalFigures">
    <div class="bigNumbers">
      <div>{{nakamaWayGroups.length}}</div>
      <span>Groups</span>
    </div>
    <div class="bigNumbers">
      <div>{{totalSize / 1024 / 1024 / 1024 | number:'.1'}} GB</div>
      <span>of share Files</span>
    </div>
    <div class="bigNumbers click" (click)="openManageUserDialog()">
      <div *ngIf="getTotalGroupMembers | async; else loading"></div>
      <div>{{getTotalGroupMembers | async}}</div>
      <span>Members</span>
    </div>
  </div>
  <mat-divider></mat-divider>
  <h4>NakamaWay Db
    <fa-icon [icon]="faDb"></fa-icon>
  </h4>
  <div class="globalFigures" *ngIf="dbStatsLoaded; else loading">
    <div class="bigNumbers">
      <div>{{dbStats.collections}}</div>
      <span>Collection</span>
    </div>
    <div class="bigNumbers">
      <div>{{dbStats.objects}}</div>
      <span>Objects</span>
    </div>
    <div class="bigNumbers">
      <div>{{((dbStats.fsTotalSize / 1024 / 1024 / 1024 | number:'.1') - (dbStats.fsUsedSize / 1024 / 1024 / 1024 | number:'.1')).toFixed(2)}} GB</div>
      <span>remaining size</span>
    </div>
    <div class="bigNumbers">
      <div>{{((dbStats.indexSize + dbStats.storageSize) / 1024 / 1024 | number:'.3')}} MB</div>
      <span>data size</span>
    </div>
  </div>


  <mat-divider></mat-divider>
  <h4>Groups Details
    <mat-icon>group</mat-icon>
  </h4>

  <table class="table-responsive-sm" matSort (matSortChange)="sortData($event)" *ngIf="dataLoaded && nakamaWayGroups.length > 0">
    <tr class="trTitle">
      <th mat-sort-header="name" class="wayName">Way Name</th>
      <th mat-sort-header="creation" class="dontBreak">Creation Date</th>
      <th mat-sort-header="members">Members</th>
      <th mat-sort-header="size">Size</th>
    </tr>
    <tr *ngFor="let group of sortedNakamaWayGroups" class="separateGroup">
      <td class="nakaGroup d-flex flex-column">
        <div class="d-flex flex-row align-items-center">
          <img class="groupAvatarList" [attr.src]="group.avatarUrl" alt='groupDefaultPicture' (click)="openNakamaDetailDialog(group.avatarUrl)">
            <div class="groupName">{{group.groupName}}</div>
        </div>
      </td>
      <td>{{group.creationDate | date:'d MMMM y'}}</td>
      <td>
        <strong>{{group.users.length}}</strong>
      </td>
      <td>
        <strong>{{group.groupSize / 1024 / 1024 | number:'.1'}} MB</strong>
      </td>
    </tr>
  </table>

</div>

<ng-template #loading>
  <mat-spinner class="centerSpinner" color="accent" diameter="50"></mat-spinner>
</ng-template>
