.centerSpinner {
  margin: 35px auto;
}

h3, h4 {
  text-align: center;
  .mat-icon{
    position: relative;
    top: 3px;
    color: #3F51B5;
  }
}

.globalFigures {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  div {
    font-size: 2.5vw;
    font-weight: bold;
    color: #FCA5CF;
  }
  span {
    font-weight: 400;
    font-size: 1.3vw;
    color: #3F51B5;
  }
}

.bigNumbers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.click{
  cursor: pointer;
}

.trTitle{
  background-color: rgba(232, 232, 232, 0.5);
}
.dontBreak{
  white-space: nowrap
}
.wayName{
   padding-top: 8px;
   padding-left: 46px;
   padding-bottom: 8px;
 }
.separateGroup {
    border-bottom: 1px solid #d7d7d7;
  }
ul .nakaGroup {
  transition: -webkit-transform .3s;
  transition: transform .3s;
}

ul .nakaGroup:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer
}
.groupAvatarList {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
.groupName{
  padding-left: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
table {
  width: 100%;
}
.leftResult{
  padding-left: 15px;
}
.addMember{
  position: absolute;
  right: 10px;
  .mat-icon{
    position: relative;
    bottom: 3px;
  }
}
button:focus {
  outline: none;
}
