.home-card {
  width: 80vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

.centerTitle{
  align-items: center;
  flex-direction: column;
}

.createGroup{
  position:absolute;
  right:10px;
  top: 3px;
}

button:focus {
  outline: none;
}

.NakamAvatarList {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.groupAvatarList {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.friendList{
  padding: 8px 16px;
  border-bottom: 1px solid #d7d7d7;
  margin-right: 20px;
  margin-left: 20px;
}

.NakamaUsername{
   padding-left: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
 }

.groupName{
  padding-left: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}

.firstAndLastName {
  padding-left: 10px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.nakamasData{
  display: flex;
  flex-direction: column;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

li:last-child {
  border-bottom: none;
}

ul
{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.pendingNakamas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;
  font-size: 15px;
}
ul + .mat-divider{
  border-top-color: black;
}

.cardHeaderIcon{
  position: relative;
  top: 8px;
  left: 5px;
}

.preventStrech{
  align-self:flex-start;
}

.nakamaTypo{
  max-height: 20px;
}

.nakamaWayTypo{
  max-height: 20px;
  margin-top: 5px;
  margin-bottom: 4px;
}

.nakamaPendingTypo{
  max-height: 22px;
}
.nakaGroup{
  padding: 8px 16px;
}
ul .nakaGroup {
  transition: -webkit-transform .3s;
  transition: transform .3s;
}

ul .nakaGroup:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer
}

.findNewNakama {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
}

.createGroup .mat-icon{
  position: relative;
  bottom: 5px;
  right: 1px;
  font-size: 22px;
}

.noNakamaYet{
  text-align: center;
  vertical-align: middle;
  font-weight: 60;
}
.noGroupYet{
  margin-top: 10px!important;
  text-align: center;
  vertical-align: middle;
  font-weight: 60;
}
.BCHope{
    max-height: 50px;
  margin-bottom: 10px;
}
.isConnected{
  height: 11px;
  width: 11px;
  background-color: #43b581;
  border-radius: 50%;
  position: relative;
  right: 11px;
  top: 14px;
  margin-right: -11px;
  border: 2px solid white;
}
.centerSpinner {
  margin:0 auto;
}
table{
  width: 100%;
}
.separateGroup {
  border-bottom: 1px solid #d7d7d7;
}
.wayName{
  padding-top: 8px;
  padding-left: 86px;
  padding-bottom: 8px;
}
tr:last-child {
  border-bottom: none;
}
.transition {
  transition: -webkit-transform .3s;
  transition: transform .3s;
}

.transition:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer
}
.trTitle{
  background-color: rgba(232, 232, 232, 0.5);
}
.dontBreak{
  white-space: nowrap
}
.transitionMobile{
  display: none;
}
.connectedContainer{
  position: relative;
}
.inUsers{
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  .isConnected{
    border: 2px solid white;
    display: inline-flex;
    right: 13px;
    top: 6px;
  }
}
.avatar {
  height: 20px;
  width: 20px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 7px;
}
.connectedMobileContainer{
  display: none;
}
@media (max-width: 591px){
  .transition{
    display: none;
  }
  .transitionMobile{
    display: table-cell;
  }
}
@media (max-width: 410px){
  .home-card {
    width: 100vw;
  }
  .connectedContainer{
    display: none;
  }
  .connectedMobileContainer{
    display: flex;
    margin-left: 30px;
    position: relative;
  }
  .hasActiveUser{
    .nakaGroup{
      margin-bottom: 20px;
    }
    .transitionMobile span{
      position: relative;
      bottom: 7px;
    }
  }
  .groupAvatarList {
    height: 30px;
    width: 30px;
  }
  .wayName{
    padding-left: 46px;
  }
}
