  <div class="container d-flex justify-content-center">
      <mat-tab-group class="tabGroup" [selectedIndex]="indexAuto">
        <mat-tab label="Nakamas">
          <mat-card class="home-card" [ngStyle]="{'padding':'0px'}">
            <mat-card-header class="centerTitle" [ngStyle]="{'background-color': 'rgba(232, 232, 232, 0.5)'}">
              <h3 class="cardMarginTop"><img src="../../../assets/nakamas.png" class="nakamaTypo" alt="nakamaWay">
                <span>
              <mat-icon class="cardHeaderIcon">group</mat-icon>
            </span>
              </h3>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div class="findNewNakama" [ngStyle]="{'background-color': 'rgba(232, 232, 232, 0.5)'}">
              <app-search-nakama (onRequestAccepted)="reloadNakama($event)"></app-search-nakama>
            </div>
            <mat-card-content>
              <mat-spinner class="centerSpinner" *ngIf="!nakamaLoaded && !nakamaLoadedError" color="accent" diameter="70"></mat-spinner>
              <div *ngIf="nakamaLoaded && nakamas.length === 0" class="noNakamaYet"><strong>You don't have any Nakama for now. Start adding them using the search bar above</strong>
                <br><img class="BCHope" src='../../../assets/BCoMax.png' alt='nakamaDefaultPicture'>
              </div>
              <div *ngIf="nakamaLoadedError" class="alert alert-danger">
                It seems something went wrong when trying to get your Nakamas. Please try again or contact your admin.
              </div>
              <ul class="homeCardMaxHeight" *ngIf="nakamaLoaded && nakamas.length > 0">
                <li *ngFor="let nakama of nakamas" class="friendList d-flex flex-row align-items-center">
                  <img class="NakamAvatarList" [attr.src]="nakama.friend.avatarUrl" alt='nakamaDefaultPicture' (click)="openNakamaDetailDialog(nakama.friend.avatarUrl)" >
                  <span *ngIf="nakama.isconnected" class="isConnected"></span>
                  <div class="nakamasData">
                    <div class="NakamaUsername">{{nakama.friend.username}}</div>
                    <div class="firstAndLastName"><span>{{nakama.friend.firstName}} </span><span>{{nakama.friend.lastName}}</span></div>
                  </div>
                  <span class="fill-remaining-space"></span>
                  <button #deleteNakama mat-icon-button (click)="openDeleteNakamaDialog(nakama._id, nakama.friend.username)"><mat-icon color="primary">delete</mat-icon></button>
                </li>
              </ul>
              <mat-divider class="matDividerPending" *ngIf="nakamaPendingRequest.length > 0"></mat-divider>
              <div class="pendingNakamas" [ngStyle]="{'background-color': 'rgba(232, 232, 232, 0.5)'}" *ngIf="nakamaPendingRequest.length > 0">
                <h3 class="cardMarginTop" matBadge={{nakamaPendingRequest.length}} matBadgeColor="accent" matBadgeSize="small" matBadgeOverlap="false"><img src="../../../assets/pending.png" class="nakamaPendingTypo" alt="nakamaWay"></h3>
              </div>
              <mat-divider *ngIf="nakamaPendingRequest.length > 0"></mat-divider>
              <ul class="homeCardMaxHeight" *ngIf="nakamaPendingRequest.length >= 0">
                <li *ngFor="let pendingNakama of nakamaPendingRequest" class="friendList d-flex flex-row align-items-center">
                  <img class="NakamAvatarList" [attr.src]="pendingNakama.friend.avatarUrl" alt='nakamaDefaultPicture' (click)="openNakamaDetailDialog(pendingNakama.friend.avatarUrl)">
                  <div class="nakamasData">
                    <div class="NakamaUsername">{{pendingNakama.friend.username}}</div>
                    <div class="firstAndLastName"><span>{{pendingNakama.friend.firstName}} </span><span>{{pendingNakama.friend.lastName}}</span></div>
                  </div>
                  <span class="fill-remaining-space"></span>
                  <button mat-icon-button (click)="acceptNakama(pendingNakama._id)"><mat-icon color="primary">check_circle</mat-icon></button>
                  <button #deleteNakama mat-icon-button (click)="openDeleteNakamaDialog(pendingNakama._id, pendingNakama.friend.username)"><mat-icon color="primary">delete</mat-icon></button>
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Ways">
          <mat-card class="home-card preventStrech" [ngStyle]="{'padding':'0px'}">
            <button #nakamaWayModalButton mat-mini-fab matTooltip="Create new NakamaWay" color="primary" class="createGroup" (click)="openGroupCreationDialog()"><mat-icon>group_add</mat-icon></button>
            <mat-card-header class="centerTitle" [ngStyle]="{'background-color': 'rgba(232, 232, 232, 0.5)'}">
              <h3 class="cardMarginTop"><img src="../../../assets/nws.png" class="nakamaWayTypo" alt="nakamaWay"></h3>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <mat-spinner class="centerSpinner" *ngIf="!groupLoaded && !groupLoadedError" color="accent" diameter="70"></mat-spinner>
              <div *ngIf="groupLoaded && groups.length === 0" class="noGroupYet"><strong>You don't have any NakamaWays for now. You can create your own using the button at the top of this section</strong>
                <br><img class="BCHope" src='../../../assets/BCoMax.png' alt='nakamaDefaultPicture'>
              </div>
              <div *ngIf="groupLoadedError" class="alert alert-danger">
                It seems something went wrong when trying to get your Ways. Please try again or contact your admin.
              </div>
              <table matSort (matSortChange)="sortData($event)" *ngIf="groupLoaded && groups.length > 0">
                <tr class="trTitle">
                  <th mat-sort-header="name" class="wayName">Way Name</th>
                  <th mat-sort-header="connection" class="dontBreak">Last Active</th>
                  <th></th>
                  <th></th>
                </tr>

                <tr *ngFor="let group of sortedData" class="separateGroup" (click)="joinMyWay(group._id)" [ngClass]="{'hasActiveUser': group.connectedUsers?.length > 0}">
                  <td class="nakaGroup d-flex flex-column transition">
                    <div class="d-flex flex-row align-items-center">
                    <img class="groupAvatarList" [attr.src]="group.avatarUrl" alt='groupDefaultPicture'>
                      <div class="nakamasData">
                    <div class="groupName" [matBadge]="group.unreadMessage" matBadgeOverlap="false" [matBadgeHidden]="(group.unreadMessage === 0)" matBadgeColor="warn">{{group.groupName}}</div>
                      <div class="connectedContainer">
                    <ul *ngIf="group.connectedUsers" class="inUsers">
                      <li *ngFor="let user of group.connectedUsers">
                        <img class="avatar" [attr.src]="user.avatarUrl" alt='nakamaDefaultPicture' (click)="openNakamaDetailDialog(user.avatarUrl)"  matTooltip="{{user.username}}">
                        <span class="isConnected"></span>
                      </li>
                    </ul>
                      </div>
                    </div>
                    </div>

                    <div *ngIf="group.connectedUsers?.length > 0" class="connectedMobileContainer">
                      <ul class="inUsers">
                        <li *ngFor="let user of group.connectedUsers">
                          <img class="avatar" [attr.src]="user.avatarUrl" alt='nakamaDefaultPicture' (click)="openNakamaDetailDialog(user.avatarUrl)"  matTooltip="{{user.username}}">
                          <span class="isConnected"></span>
                        </li>
                      </ul>
                    </div>

                  </td>
                  <td class="transition">{{group.lastConnectionDate | date:'d MMMM y'}}</td>
                  <td class="transitionMobile"><span>{{group.lastConnectionDate | date:'d/M/yy'}}</span></td>
                  <td>
                    <button mat-icon-button [matMenuTriggerFor]="groupMenu" (click)="$event.stopPropagation()">
                    <mat-icon color="primary">settings</mat-icon>
                  </button>
                    <mat-menu #groupMenu="matMenu">
                      <button mat-menu-item (click)="joinMyWayNotificationSettings(group._id)">
                        <mat-icon>notifications_active</mat-icon>
                        <span>Notification settings</span>
                      </button>
                      <button mat-menu-item (click)="joinMyWayGroupSettings(group._id)">
                        <mat-icon>group</mat-icon>
                        <span>Group settings</span>
                      </button>
                      <button mat-menu-item (click)="openDeleteGroupDialog(group._id, group.groupName, group.isAdmin)">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>leave group</span>
                      </button>
                    </mat-menu>
                  </td>
                  <td>
                    <button mat-icon-button (click)="$event.stopPropagation(); openGroupMembers(group)" matTooltip="Members">
                      <mat-icon color="primary">people</mat-icon>
                    </button>
                    </td>
                </tr>
              </table>

            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
  </div>
