<div class="modal-header-custom">
  <h3 class="modal-title fileTitle">{{fileInfo.originalname}}</h3>
  <button mat-button class="close" (click)="onNoClick()">
    <span>&times;</span>
  </button>
</div>
<div class="dataSize">
  <div class="littleSpaceUpInverted">Posted by <strong>{{fileInfo.postedBy}} </strong><span><img class="NakamAvatar" [attr.src]="fileInfo.postedByAvatarUrl" alt='nakamAvatar' (click)="openNakamaDetailDialog(fileInfo.postedByAvatarUrl)" ></span>  on <strong>{{fileInfo.creationDate | date:'fullDate'}}</strong></div>
  <br *ngIf="!data.fileType.icon">
  <img *ngIf="!data.fileType.icon && data.fileType.type === 'img'" class="imgInfo" [attr.src]="data.fileType.link | secure | async" alt={{fileInfo.originalname}}>
  <video width="100%" controls *ngIf="!data.fileType.icon && data.fileType.type === 'video'">
    <source [attr.src]="data.fileType.link">
  </video>
  <fa-icon [icon]="data.fileType.faFa" class="icons fileColor" *ngIf="data.fileType.icon"></fa-icon>
</div>
