.close {
  outline: none;
}
.NakamAvatar {
  height: 25px;
  width: 25px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  bottom: 1px;
}
.dataSize{
  font-weight: 300;
  font-size: 13px;
}
.littleSpaceUpInverted{
  margin-top: -10px;
}
.imgInfo{
  width: 100%;
  height: auto;
}
.icons {
  font-size: 3em;
  color: #FEA7D1;
}
.fileTitle{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:90%;
}
.modal-header-custom{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
