.nakamaWayLogo{
  max-height: 45px;
}

.nakamaWayLogin {
  max-height: 80px;
}

.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.transparent{
  background-color: transparent;
}

.navbarBorderBottom {
  border-bottom: solid 1px rgba(0,0,0,0.12);
}

.title-center {
  margin: 0 auto;
}

button:focus {
  outline: none;
  border: 0;
  background: none;
}

mat-toolbar {
  height: 42px !important;
}

.avatarAppMenu {
  height: 30px;
  width: 30px;
  overflow: hidden;
  border-radius: 50%;
}
.rightMargin{
  margin-right: 20px;
}

.stickDownArrow{
  position: relative;
  right: 2px;
}

.whiteBackGound {
  background-color: white;
}

.menuItemsOnLeft{
  position: relative;
  right: 30px;
}

.menuMarginRight{
  margin-right: 20px;
}

@media (max-width: 475px){
  .menuMarginRight {
    margin-right: 0px;
  }
}
.centerTitleGroup{
  position: absolute;
  left: 50%;
}
