<mat-toolbar id="appnavbar" [ngClass]="{'navbarBorderBottom whiteBackGound': !navBarBackGround}" class="transparent">
  <!-- NkmLogo -->
  <a *ngIf="isAuthenticated()" routerLink="/home">
    <img src="../../../assets/nwlogo2.png" class="nakamaWayLogo" alt="nakamaWay">
  </a>

  <!-- For Login and PasswordReset purpose -->
  <a *ngIf="!isAuthenticated()" class="title-center">
    <img src="../../../assets/nwlogo2.png" class="nakamaWayLogin" alt="nakamaWay">
  </a>
  <button mat-button *ngIf="!isAuthenticated() && forgotpwSelected" routerLink="/">Log In</button>

  <!-- MENU -->
  <span *ngIf="isAuthenticated()" class="fill-remaining-space"></span>
  <app-group-title *ngIf="currentGroupName && isAuthenticated()" class="centerTitleGroup"></app-group-title>
  <app-search-group *ngIf="isAuthenticated()"></app-search-group>
  <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
    <button *ngIf="!settingsSelected" mat-menu-item routerLink="/settings"><mat-icon>settings</mat-icon>Settings</button>
    <button *ngIf="settingsSelected" mat-menu-item routerLink="/home"><mat-icon>home</mat-icon>Home</button>
    <button *ngIf="isNakamadmin()" mat-menu-item routerLink="/admindashboard"><mat-icon>dashboard</mat-icon>Admin</button>
    <button mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>Log Out</button>
  </mat-menu>
  <app-notification *ngIf="isAuthenticated()"></app-notification>
  <button *ngIf="isAuthenticated()" mat-icon-button class="menuMarginRight" [matMenuTriggerFor]="appMenu">
    <img *ngIf="(dataLoaded)" class="avatarAppMenu" src={{nakama.avatarUrl}} alt='nakamAvatar'>
    <mat-icon class="stickDownArrow">arrow_drop_down</mat-icon>
  </button>

</mat-toolbar>
