<div>
  <div *ngIf="endDateBeforeStartDate"
       class="alert alert-danger">
    Event end date must be after the start date
  </div>
  <div *ngIf="eventRequestError"
       class="alert alert-danger">
    Something went wrong, please try again
  </div>
  <div class="newNakawayFlex">
    <mat-form-field>
      <input matInput placeholder="Name your event" name="eventTitle" type="text" [(ngModel)]="data.newEvent.title">
    </mat-form-field>
  </div>
  <div class="timeNav">
    <mat-form-field class="full-width wrapBlock">
      <input
        matInput
        type="text"
        mwlFlatpickr
        [(ngModel)]="data.newEvent.start"
        (ngModelChange)="noDateUndefined()"
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Start"
        static="true"
      />
      <mat-icon matSuffix>event</mat-icon>
    </mat-form-field>
    <mat-form-field class="full-width wrapBlock">
      <input
        matInput
        type="text"
        mwlFlatpickr
        [(ngModel)]="data.newEvent.end"
        (ngModelChange)="enDateBeforeStartDate()"
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="End"
        static="true"
      />
      <mat-icon matSuffix>event</mat-icon>
    </mat-form-field>
  </div>
  <div class="timeNav">
    <mat-form-field class="full-width">
      <mat-select placeholder="Alert" [(ngModel)]="data.newEvent.alert">
        <mat-option *ngFor="let state of alert"
                    [value]="state.value">{{state.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Place" name="eventPlace" type="text" [(ngModel)]="data.newEvent.place">
      <mat-icon matSuffix>place</mat-icon>
    </mat-form-field>
  </div>
  <div class="newNakawayFlex">
    <mat-form-field>
      <textarea matInput placeholder="Description" [(ngModel)]="data.newEvent.description"></textarea>
    </mat-form-field>
  </div>
  <div class="d-flex flex-wrap justify-content-around">
    <button *ngIf="data.type === 'EDIT'" class="marginBottom" mat-raised-button (click)="deleteCalendarEvent()" color="warn">Delete</button>
    <button mat-raised-button color="primary" class="marginLeft" (click)="onNoClick()">Cancel</button>
    <button *ngIf="data.type === 'NEWEVENT'" mat-raised-button class="marginLeft" [disabled]="!data.newEvent.title" (click)="createNewEvent()" color="primary">Save</button>
    <button *ngIf="data.type === 'EDIT'" mat-raised-button class="marginLeft" [disabled]="compare()" (click)="editCalendarEvent()" color="primary">Save</button>
  </div>
</div>
