.newNakawayFlex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.newNakawayFlex > * {
  width: 100%;
}
.timeNav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.full-width{
  width: 48%;
}
@media (max-width: 562px) {
  .full-width{
    width: 100%;
  }
}
.marginLeft{
   margin-left: 10px;
   margin-bottom: 10px;
 }
.marginBottom{
  margin-bottom: 10px;
}
