.trTitle{
  background-color: rgba(232, 232, 232, 0.5);
}
.dontBreak{
  white-space: nowrap
}
.wayName{
  padding-top: 8px;
  padding-left: 26px;
  padding-bottom: 8px;
}
.separateGroup {
  border-bottom: 1px solid #d7d7d7;
}
ul .nakaGroup {
  transition: -webkit-transform .3s;
  transition: transform .3s;
}

ul .nakaGroup:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer
}
.groupAvatarList {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
.groupName{
  padding-left: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
table {
  width: 100%;
}
.centerSpinner {
  margin: 35px auto;
}
