<div *ngIf="showSettingErrorMsg" class="alert alert-danger">
  {{errorMessage}}
</div>
<mat-spinner class="centerSpinner" color="accent" diameter="50" *ngIf="!dataLoaded"></mat-spinner>
<table class="table-responsive-sm" matSort (matSortChange)="sortData($event)" *ngIf="dataLoaded && members.length > 0">
  <tr class="trTitle">
    <th mat-sort-header="username" class="wayName">Username</th>
    <th>Block</th>
  </tr>
  <tr *ngFor="let member of sortedMembers" class="separateGroup">
    <td class="nakaGroup d-flex flex-column">
      <div class="d-flex flex-row align-items-center">
        <img class="groupAvatarList" [attr.src]="member.avatarUrl" alt='nakamaPicture'>
        <div class="groupName">{{member.username}}</div>
      </div>
    </td>
    <td>
      <button mat-icon-button color="accent" (click)="openNakamaCreationDialog(member)">
      <mat-icon>block</mat-icon>
      </button>
    </td>
  </tr>
</table>
