<div><img src="../../../../assets/nwlogoAboutUse.png" class="nakamaWayLogin" alt="nakamaWay"> is a web application made for <strong>true friends</strong>. The platform is simple and provides an intimate forum for shared interests.</div>
<div>The spirit of <img src="../../../../assets/nwlogoAboutUse.png" class="nakamaWayLogin" alt="nakamaWay"> is inspired by the character of Bon Clay from One Piece.</div>
<br>
<div class="video">
  <iframe  src="https://www.youtube.com/embed/saX_7NJ2ACs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
