.resetPwandConfirm{
  max-width: 400px;
  margin: 10vh auto auto;
}

.centerVertical{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centerVertical > * {
  width: 90%;
}

.pwConditions{
  font-size: small;
}
