<div class="resetPwandConfirm">
  <form>
    <div class="centerVertical">
      <div *ngIf="showResetPwErrorMsg" class="alert alert-danger">
        {{errorMessage}}
      </div>
      <div class="seeText">Please enter your new password below and confirm</div><br>
      <label id="password_strength" class="pwConditions" style="color: red" [style.color]="randomcolor">Le mot de passe doit contenir :
        <br>- Des lettres majuscules
        <br>- Des lettres miniscules
        <br>- Des chiffres
        <br>- Une longueur minimale de 7 caractères
        <br>
      </label>
      <mat-form-field>
        <input matInput placeholder="new password" [(ngModel)]="newPassword" type="password" name="password" required (keyup)="checkPass(); reInitError()">
      </mat-form-field>
      <mat-form-field>
        <input matInput disabled="{{!access}}" (keyup)="reInitError()" [ngModelOptions]="{standalone: true}"  #ctrl="ngModel" placeholder="confirm new password" [(ngModel)]="confirmPassword" type="password" name="confirmPw" required>
      </mat-form-field>
      <div *ngIf="newPassword != ctrl.value  && ctrl.dirty" class="alert alert-danger">
        Mot de passe Incorrect
      </div>
      <div *ngIf="newPassword === ctrl.value && ctrl.dirty" class="alert alert-success">
        Mot de passe similaire
      </div>
      <button mat-raised-button (click)="onSubmit()" color="primary">Save new Nakama Password</button>
    </div>
  </form>
</div>
