<h3>MANAGE USER</h3>
<div *ngIf="showSettingErrorMsg" class="alert alert-danger">
  {{errorMessage}}
</div>
<div [formGroup]="newNakamaForm" class="newNakamaForm" *ngIf="!data">
  <mat-form-field appearance="outline" class="col-md-6 col-12">
    <mat-label>Username</mat-label>
    <strong>
      <input placeholder="" matInput formControlName="username" name="username" type="text">
    </strong>
    <mat-error *ngIf="newNakamaForm.get('username').hasError('maxlength')">
      Username should have <strong>21 characters max</strong>
    </mat-error>
    <mat-error *ngIf="newNakamaForm.get('username').hasError('minlength')">
      Username should have <strong>at least 2 characters</strong>
    </mat-error>
    <mat-error *ngIf="newNakamaForm.get('username').hasError('required')">
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-md-6 col-12">
    <mat-label>Email</mat-label>
    <strong><input placeholder="" matInput formControlName="email" name="email" type="email"></strong>
    <mat-error *ngIf="newNakamaForm.get('email').hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="newNakamaForm.get('email').hasError('pattern')">
      Please enter a valid email
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-md-6 col-12">
    <mat-label>Password</mat-label>
    <strong>
      <input matInput placeholder="" formControlName="password" type="password" name="newPw" (keyup)="checkPass()">
    </strong>
    <mat-error *ngIf="newNakamaForm.get('password').hasError('required')">
      Please enter a <strong>new</strong> password
    </mat-error>
    <mat-error *ngIf="checkPass() === 'uppercase'">
      should contain at least 1 uppercase
    </mat-error>
    <mat-error *ngIf="checkPass() === 'Lowercase'">
      should contain at least 1 lowercase
    </mat-error>
    <mat-error *ngIf="checkPass() === 'Digit'">
      should contain least 1 number
    </mat-error>
    <mat-error *ngIf="checkPass() === 'atleast7'">
      should contain at least 7 characters
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-md-6 col-12">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      <mat-option [value]="userRole[userRole.NAKAMA]">{{userRole[userRole.NAKAMA]}}</mat-option>
      <mat-option [value]="userRole[userRole.NAKAMADMIN]">{{userRole[userRole.NAKAMADMIN]}}</mat-option>
    </mat-select>
    <mat-error *ngIf="newNakamaForm.get('role').hasError('pattern')">
      Please enter a valid Role
    </mat-error>
    <mat-error *ngIf="newNakamaForm.get('role').hasError('required')">
      Role is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-md-6 col-12">
    <mat-label>Firstname</mat-label>
    <strong>
      <input placeholder="" matInput formControlName="firstName" name="firstName" type="text">
    </strong>
    <mat-error *ngIf="newNakamaForm.get('firstName').hasError('maxlength')">
      Firstname should have <strong>21 characters max</strong>
    </mat-error>
    <mat-error *ngIf="newNakamaForm.get('firstName').hasError('minlength')">
      Firstname should have <strong>at least 2 characters</strong>
    </mat-error>
    <mat-error *ngIf="newNakamaForm.get('firstName').hasError('required')">
      Firstname is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-md-6 col-12">
    <mat-label>Lastname</mat-label>
    <strong>
      <input placeholder="" matInput formControlName="lastName" name="lastName" type="text">
    </strong>
    <mat-error *ngIf="newNakamaForm.get('lastName').hasError('maxlength')">
      Lastname should have <strong>21 characters max</strong>
    </mat-error>
    <mat-error *ngIf="newNakamaForm.get('lastName').hasError('minlength')">
      Lastname should have <strong>at least 2 characters</strong>
    </mat-error>
    <mat-error *ngIf="newNakamaForm.get('lastName').hasError('required')">
      Lastname is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div class="submitNewUser">
    <button mat-button [disabled]="!newNakamaForm.valid" (click)="saveNewNakama(newNakamaForm.value)">SAVE</button>
  </div>

</div>

<div [formGroup]="blockNakamaForm" class="newNakamaForm" *ngIf="data && data.user">
  <mat-form-field appearance="outline" class="col-12">
    <mat-label>Username</mat-label>
    <strong>
      <input disabled placeholder="" [value]="data.user.username" matInput name="username" type="text">
    </strong>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-md-6 col-12">
    <mat-label>Email</mat-label>
    <strong><input placeholder="" matInput formControlName="email" name="email" type="email"></strong>
    <mat-error *ngIf="newNakamaForm.get('email').hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="newNakamaForm.get('email').hasError('pattern')">
      Please enter a valid email
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-md-6 col-12">
    <mat-label>Password</mat-label>
    <strong>
      <input matInput placeholder="" formControlName="password" type="password" name="newPw" (keyup)="checkPass()">
    </strong>
    <mat-error *ngIf="newNakamaForm.get('password').hasError('required')">
      Please enter a <strong>new</strong> password
    </mat-error>
    <mat-error *ngIf="checkPass() === 'uppercase'">
      should contain at least 1 uppercase
    </mat-error>
    <mat-error *ngIf="checkPass() === 'Lowercase'">
      should contain at least 1 lowercase
    </mat-error>
    <mat-error *ngIf="checkPass() === 'Digit'">
      should contain least 1 number
    </mat-error>
    <mat-error *ngIf="checkPass() === 'atleast7'">
      should contain at least 7 characters
    </mat-error>
  </mat-form-field>

  <div class="submitNewUser">
    <button mat-button [disabled]="!blockNakamaForm.valid" (click)="blockNakama(blockNakamaForm.value)">BLOCK</button>
  </div>

</div>
