<div class="container deleteModalFooterLine">
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{errorMessage}}
  </div>
  <div class="newNakawayFlex">
    Are you sure you want to remove the file: {{data.file.originalname}}?
  </div>
</div>

<div class="modal-footer">
  <mat-dialog-actions>
    <button class="buttonMarginRight" mat-flat-button color="primary" (click)="onNoClick()">Cancel</button>
    <button mat-flat-button color="primary" (click)="data.updateChat ? deleteFileAndUpdateChat() : deleteFile()">Remove</button>
  </mat-dialog-actions>
</div>
