.loginCard {
  max-width: 400px;
  margin: 25vh auto 25vh auto;
}

.credentials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.credentials-container > * {
  width: 90%;
}

.submitContainer{
  display: flex;
  align-items: baseline;
}

.oopsMargin{
  margin-left: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.whoAreWe{
  display: flex;
  justify-content: flex-end;
}

button:focus {
  outline: none;
  border: 0;
  background: none;
}


