<div class="loginCard">
    <form>
      <div class="credentials-container">
        <div *ngIf="showLoginErrorMsg" class="alert alert-danger">
          {{errorMessage}}
        </div>
        <mat-form-field>
          <input matInput placeholder="Username" (ngModelChange)="reInitError()" [(ngModel)]="newNakama.username" name="username" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" (ngModelChange)="reInitError()" [(ngModel)]="newNakama.password" type="password" name="password" required>
        </mat-form-field>
        <div class="submitContainer">
          <button mat-raised-button (click)="onSubmit()" color="primary">Login</button>
          <a class="oopsMargin" routerLink="/forgotpw" href="">Oops... I forgot my password</a>
        </div>
      </div>
    </form>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 whoAreWe">
        <button (click)="openDialog()" mat-button class="test">About</button>
      </div>
    </div>
  </div>
</footer>
