button:focus {
  outline: none;
  border: 0;
  background: none;
}

.NotifMaxHeight{
  max-height: 300px;
  overflow: auto;
}

.notifList{
  padding: 8px 16px;
  border-bottom: 1px solid #d7d7d7;
}

.NakamAvatarList {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.noStrech{
  height: 30px;
  width: 30px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
  flex: none;
}
.noStrechFile{
  height: 30px;
  width: 30px;
  overflow: hidden;
  cursor: pointer;
  flex: none;
  text-align: center;
}
.NotifIllustration {
  height: 30px;
  width: auto;
  margin-left: unset!important;
}
.icoFile{
  color: #FEA7D1;
}
.imgFile {
  height: 30px;
  width: auto;
  margin-left: unset!important;
  border-radius: unset;
}

@media (min-width: 550px){
  .NotifIllustration {
    margin-left: 10px;
  }
}

.NakamaNotifUsername{
  padding-left: 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
}

.notifInfo{
  font-size: 13px;
  font-weight: 200;
}
.pointer{
  cursor: pointer;
}

.notifData{
  display: flex;
}

.fill-remaining-space {
  flex: 1 1 auto;
  margin-right: 5px;
}
ul, li {
  margin: 0;
  padding: 0;
}

ul, li.notifUnRead {
  background-color: #f4f4f4;
}

ul, li.notifRead {
  background-color: white;
}
.menuMarginRight{
  margin-right: 10px;
}

@media (max-width: 475px){
  .menuMarginRight {
    margin-right: 0px;
  }
}
li:last-child {
  border-bottom: none;
}
.highlightMeta {
  font-weight: bold;
}
.timeSinceNotif {
  font-size: 11px;
  font-weight: 300;
}
.centerSpinner {
  margin:0 auto;
}
