<mat-menu #appNotif="matMenu" [overlapTrigger]="false">
  <div *ngIf="!dataloaded">Loading your notifications<span><mat-spinner class="" color="accent" diameter="10"></mat-spinner></span></div>
  <ul class="NotifMaxHeight" id="notifs" *ngIf="dataloaded && notifications.length > 0" (scroll)="onBottomReached($event)">
    <li *ngFor="let notif of notifications"
        [ngClass]="(notif.unRead ? 'notifUnRead' : 'notifRead') + ' ' + ((notif.notificationType === notifType.NAKAMAREQUEST || notif.notificationType === notifType.NEWNAKAMACONFIRMATION) ? '' : 'pointer')"
        class="notifList d-flex flex-row align-items-center"
        (click)="(notif.notificationType === notifType.NEWGROUPINVITATION || notif.notificationType === notifType.NEWFILEUPLOADED || notif.notificationType === notifType.NEWGROUPNAME || notif.notificationType === notifType.NEWGROUPAVATAR || notif.notificationType === notifType.NEWCALENDAREVENT || notif.notificationType === notifType.CALENDAREVENTEDITED || notif.notificationType === notifType.NEWMESSAGE) && towardWay(notif)">
      <img class="NakamAvatarList" [attr.src]="notif.senderInfo.avatarUrl" alt='nakamaDefaultPicture' (click)="openNakamaDetailDialog(notif.senderInfo.avatarUrl); $event.stopPropagation()">
        <div class="NakamaNotifUsername">{{notif.senderInfo.username}}
          <span *ngIf="notif.notificationType === notifType.NEWGROUPINVITATION" class="pointer"><span class="notifInfo">invite you to join the group </span><span class="highlightMeta">{{notif.groupInfo.groupName}}</span></span>
          <span class="notifInfo" *ngIf="notif.notificationType === notifType.NAKAMAREQUEST">sent you a nakama request</span>
          <span class="notifInfo" *ngIf="notif.notificationType === notifType.NEWNAKAMACONFIRMATION">accepted your nakama request</span>
          <span *ngIf="notif.notificationType === notifType.NEWFILEUPLOADED"><span class="notifInfo">uploaded a new file in </span><span class="highlightMeta">{{notif.groupInfo.groupName}}</span></span>
          <span *ngIf="notif.notificationType === notifType.NEWGROUPNAME"><span class="notifInfo">changed the way name <span class="highlightMeta">{{notif.metaData.oldGroupName}}</span> to </span><span class="highlightMeta">{{notif.metaData.newGroupName}}</span></span>
          <span *ngIf="notif.notificationType === notifType.NEWGROUPAVATAR"><span class="notifInfo">changed <span class="highlightMeta">{{notif.groupInfo.groupName}}</span> avatar </span></span>
          <span *ngIf="notif.notificationType === notifType.NEWCALENDAREVENT"><span class="notifInfo">added a new event in <span class="highlightMeta">{{notif.groupInfo.groupName}}</span> in {{notif.metaData.eventStartDay | date}}</span></span>
          <span *ngIf="notif.notificationType === notifType.CALENDAREVENTEDITED"><span class="notifInfo">edited the event: <span class="highlightMeta">{{notif.metaData.eventTitle}}</span> in <span class="highlightMeta">{{notif.groupInfo.groupName}}</span></span></span>
          <span *ngIf="notif.notificationType === notifType.NEWMESSAGE"><span class="notifInfo">posted a new message in <span class="highlightMeta">{{notif.groupInfo.groupName}}</span></span></span>
          <!-- <span>{{ notif.created_at | date }}  </span> -->
          <span class="timeSinceNotif"> {{notif.timeSinceNotif}}</span>
        </div>
      <span class="fill-remaining-space"></span>
      <div class="noStrech" *ngIf="notif.notificationType === notifType.NEWGROUPINVITATION || notif.notificationType === notifType.NEWGROUPNAME || notif.notificationType === notifType.NEWGROUPAVATAR || notif.notificationType === notifType.NEWCALENDAREVENT || notif.notificationType === notifType.CALENDAREVENTEDITED || notif.notificationType === notifType.NEWMESSAGE"><img class="NotifIllustration" [attr.src]="notif.groupInfo.avatarUrl" alt='newWayPicture'></div>
      <div class="noStrech" *ngIf="notif.notificationType === notifType.NEWNAKAMACONFIRMATION"><img class="NotifIllustration" src="assets/newNakamaFriendship.jpg" alt='newNakamaConfPicture' (click)="openNakamaDetailDialog('assets/newNakamaFriendship.jpg'); $event.stopPropagation()"></div>
      <div class="noStrech" *ngIf="notif.notificationType === notifType.NAKAMAREQUEST"><img class="NotifIllustration" src="assets/ostrich.png" alt='newNakamaPicture' (click)="openNakamaDetailDialog('assets/ostrich.png'); $event.stopPropagation()"></div>
      <div *ngIf="notif.notificationType === notifType.NEWFILEUPLOADED">
        <div class="noStrechFile" *ngIf="!notif.metaData.isImage"><fa-icon [icon]="faFile" class="icoFile"></fa-icon></div>
        <div class="noStrechFile" *ngIf="notif.metaData.isImage"><img class="NotifIllustration" [attr.src]="docRootUrl + notif.metaData.filename | secure | async" alt={{notif.metaData.filename}}></div>
      </div>
    </li>
  </ul>
  <ul class="NotifMaxHeight" *ngIf="dataloaded && notifications.length === 0">
    <li class="notifList d-flex flex-row align-items-center">
      <div class="noStrech"><img class="NotifIllustration" src="assets/noNotifYet.jpg" alt='nakamaDefaultPicture' (click)="openNakamaDetailDialog('assets/noNotifYet.jpg'); $event.stopPropagation()"></div>
      <div class="">
        <div class="NakamaNotifUsername">You don't have any notification yet
        </div>
      </div>
      <span class="fill-remaining-space"></span>
    </li>
  </ul>
</mat-menu>
<button mat-icon-button class="menuMarginRight" [matMenuTriggerFor]="appNotif" (menuOpened)="menuOpened()" (menuClosed)="menuClosed()"><mat-icon [matBadge]="notificationStatus.length + messageUnreadNotif" [matBadgeHidden]="((notificationStatus.length + messageUnreadNotif) === 0)" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon></button>
