<mat-spinner class="centerSpinner" *ngIf="!dataLoaded" color="accent" diameter="70"></mat-spinner>
<div class="realcontainer" *ngIf="dataLoaded">
  <div class="errorContainer">
    <div *ngIf="showGroupSettingErrorMsg" class="alert alert-danger">
      {{errorMessage}}
    </div>
  </div>
  <div class="groupSettingsContainer" *ngIf="!groupDetails">
    <button *ngIf="myCurrentWay.isAdmin" mat-raised-button id="btnPhoto" class="mat-elevation-z0" (click)="openGroupAvatarDialog()">
      <div class="groupImg">
        <img class="avatarRadius" [attr.src]="myCurrentWay.avatarUrl" alt='groupDefaultPicture'>
        <mat-icon class="pencil">edit</mat-icon>
      </div>
    </button>
      <div class="groupImg" *ngIf="!myCurrentWay.isAdmin">
        <img class="avatarRadiusForNa" [attr.src]="myCurrentWay.avatarUrl" alt='groupDefaultPicture'>
      </div>

    <div class="rightSection">
      <div  *ngIf="!myCurrentWay.isAdmin" class="nonEditTitle">{{myCurrentWay.groupName}}</div>
      <div [formGroup]="newNakaGroupForm" *ngIf="myCurrentWay.isAdmin" class="nakawayFlex">
        <mat-form-field floatLabel="never">
          <input matInput formControlName="newNakamaGroupName" placeholder="Way name" name="wayName" type="text">
          <button *ngIf="!hideSaveButton" mat-button color="accent" class="saveWidth" matSuffix [disabled]="!newNakaGroupForm.valid" (click)="saveNewWayName()">Save</button>
          <mat-icon *ngIf="hideSaveButton" matSuffix>edit</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="groupName.hasError('maxlength')">
          Your Way name should have <strong>50 characters max</strong>
        </mat-error>
        <mat-error *ngIf="groupName.hasError('required')">
          Please give a name to your Way
        </mat-error>
      </div>

      <div class="dataSize">Created by <strong (click)="openNakamaDetailDialog(myCurrentWay.creatorDetails.avatarUrl)">{{myCurrentWay.creatorDetails.username}} </strong><span>
    </span> <br> on {{myCurrentWay.creationDate | date:'fullDate'}}
      </div>
    </div>
  </div>


  <div class="memberSection">
    <mat-divider *ngIf="!groupDetails"></mat-divider>
    <div class="addMembers">
    <strong>Members</strong>
      <mat-form-field floatLabel="never" class="findMember" *ngIf="switchMemberOptionButon">
        <input type="text" placeholder="Find a member" aria-label="Member" matInput [formControl]="searchMembers">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-form-field floatLabel="never" class="findMember" *ngIf="!switchMemberOptionButon">
        <input type="text" placeholder="Add members" aria-label="Members" matInput [formControl]="addMembers"
               [matAutocomplete]="auto">
        <mat-icon matSuffix>add</mat-icon>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let user of rawfilteredOptions" [value]="user" class="cursorOff">
            <div (click)="!user.isAlreadyMember ? addNewMember(user._id, user.friend.username) : $event.stopPropagation(); $event.stopPropagation()" class="flexMember" [ngClass]="{'hasCursor': !user.isAlreadyMember}">
            <img class="NakamSearchList" [attr.src]="user.friend.avatarUrl" alt='nakamaDefaultPicture'>
            <div class="nakamasSearchData">
              <div class="NakamaUsernameSearch">{{user.friend.username}}
                <span *ngIf="user.isAlreadyMember">
                  <mat-chip-list class="posRightMember avoidOverflow"><mat-chip class="memberSettingChip" selected>Member</mat-chip></mat-chip-list>
                </span>
              </div>
              <div class="firstAndLastNameSearch"><span>{{user.friend.firstName}} </span><span>{{user.friend.lastName}}</span></div>
            </div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button *ngIf="myCurrentWay.isAdmin && !groupDetails" mat-mini-fab class="addPeopleButton" color="primary" [matTooltipClass]="'matColorPrimary'" [matTooltip]="switchMemberOptionButon ? 'Add Members' : 'Find Members'" (click)="switchMemberOptionButon=!switchMemberOptionButon">
        <mat-icon aria-label="addMember" *ngIf="switchMemberOptionButon">group_add</mat-icon>
        <mat-icon aria-label="searchMember" *ngIf="!switchMemberOptionButon">search</mat-icon>
      </button>
    </div>
      <ul>
        <li *ngFor="let member of  filteredMembers | async" class="memberList d-flex flex-row align-items-center">
          <img class="memberAvatarList" [matTooltipClass]="'matColor'" matTooltip="Member since {{member.joinDate | date:'shortDate'}}" [attr.src]="member.avatarUrl" alt='memberDefaultPicture' (click)="openNakamaDetailDialog(member.avatarUrl)" >
          <div class="memberData">
            <div class="memberUsername">{{member.username}}</div>
            <div class="firstAndLastName"><span>{{member.firstName}} </span><span>{{member.lastName}}</span></div>
          </div>
          <span class="fill-remaining-space"></span>
          <mat-chip-list class="avoidOverflow" *ngIf="member.groupRole === 'ADMIN'"><mat-chip class="memberSettingChip" selected>Admin</mat-chip></mat-chip-list>
          <mat-menu #memberMenu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item *ngIf="myCurrentWay.isAdmin && member.groupRole === 'PARTICIPANT'" (click)="makeAdmin(member._id, member.username)"><mat-icon>star_rate</mat-icon>Make Admin</button>
            <button mat-menu-item *ngIf="myCurrentWay.isCreator && member.groupRole === 'ADMIN'" (click)="removeAsAdmin(member._id, member.username)"><mat-icon>backspace</mat-icon>Remove as Admin</button>
            <button mat-menu-item *ngIf="myCurrentWay.isAdmin && member.groupRole === 'PARTICIPANT' || myCurrentWay.isCreator" (click)="openRemoveWayMemberDialog(member._id, member.username)"><mat-icon>delete</mat-icon>Remove from Group</button>
          </mat-menu>
          <div [matMenuTriggerFor]="memberMenu" *ngIf="myCurrentWay.isAdmin && member.groupRole === 'PARTICIPANT' || (myCurrentWay.isCreator && !member.isCreator)">
            <mat-icon class="memberSettingIcon">settings</mat-icon>
          </div>
        </li>
      </ul>


  </div>

</div>
