.dataSize{
  font-weight: 300;
  font-size: 13px;
  margin-top: 8px;
  color: grey;
  padding-left: 20px;
  line-height: 1.2;
}
.nonEditTitle{
  font-size: 24px;
  padding-left: 22px;
}
.NakamAvatar {
  height: 25px;
  width: 25px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  bottom: 1px;
}
.realcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memberSection{
  width: 600px;
  display: flex;
  flex-direction: column;
}
.groupImg {
  height: 130px;
  width: 130px;
  overflow: hidden;
}
.avatarRadius:hover {
  opacity: 0.6;
}
.avatarRadius{
   border-radius: 50%;
   height: 100%;
   width: auto;
  cursor: pointer;
 }
.avatarRadiusForNa{
  border-radius: 50%;
  height: 100%;
  width: auto;
}
.pencil {
  position: absolute;
  right: 1px;
  bottom: 10px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #FCA5CF;
  color: black;
  line-height: 28px;
  text-align: center;
}
.pencil.mat-icon{
  font-size: 20px;
}
#btnPhoto{
  //margin: 10px auto;

}
.groupSettingsContainer{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  align-items: center;
  width: 600px;
  justify-content: center;
}
.errorContainer{
  display: flex;
  align-items: center;
  width: 600px;
  justify-content: center;
}

.rightSection{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

}
/*#btnPhoto  .pencil {
  visibility: hidden;
}

#btnPhoto:hover .pencil {
  visibility: visible;
}*/
#btnPhoto {
  border-radius: 50%;
}
button:focus {
  outline: none;
  border: 0;
  background: none;
}

.mat-raised-button{
  padding-left: 0px;
  padding-right: 0px;
}
.editParam{
  font-weight: 500;
  color: grey;
  font-size: 14px;
}
.nakawayFlex {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
}
.centerSpinner {
  margin:35px auto;
}
/*.memberMaxHeight{
  max-height: 300px;
  overflow: auto;
}*/
.memberList{
  padding: 8px 0;
  border-bottom: 1px solid #d7d7d7;
}
.memberAvatarList {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
.memberData{
  display: flex;
  flex-direction: column;
}
.memberUsername{
   padding-left: 10px;
   font-size: 14px;
   font-weight: 600;
   line-height: 18px;
 }
.firstAndLastName {
  padding-left: 10px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.sinceDate{
  padding-left: 10px;
  color: #999;
  font-size: 12px;
  font-weight: 300;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
li:last-child {
  border-bottom: none;
}
ul
{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.memberSettingIcon{
  color: #FCA5CF;
  position: relative;
  top: 3px;
  cursor: pointer;
  margin-left: 5px;
}
.memberSettingChip{
  color: #FCA5CF;
}
.memberSettingChip.mat-chip {
    height: 18px;
    font-size: 12px;
    font-weight: 300;
}
.mat-chip{
  background-color: #FCA5CF!important;
}
.dataSize strong{
  cursor: pointer;
  color: #FCA5CF;
}
.nakawayFlex mat-form-field.mat-form-field {
  font-size: 22px;
}
.memberSection strong{
  font-size: 20px;
}
.addMembers{
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.addPeopleButton .mat-icon{
  position: relative;
  bottom: 4px;
  font-size: 20px;
}
.addMembers .mat-mini-fab {
  width: 30px !important;
  height: 30px !important;
}
.findMember{
  position: relative;
  bottom: 4px;
}
.findMember .mat-form-field-infix {
  border-top: unset!important;
}
@media (max-width: 610px){
  .groupSettingsContainer {
    width: 400px;
  }
  .errorContainer{
    width: 400px;
  }
  .memberSection{
    width: 400px;

  }
}
@media (max-width: 410px){
  .groupSettingsContainer {
    width: 95%;
  }
  .errorContainer{
    width: 95%;
  }
  .memberSection{
    width: 95%;
  }
  .dataSize{
    margin-top: 0;
  }
}
@media (max-width: 360px){
  .findMember{
    width: 140px;
  }
}

@media (max-width: 340px){
  .nakawayFlex {
    padding-left: 0;;
  }
  .dataSize{
    padding-left: 0;
    margin-top: 0;
  }
}
.mat-error {
  display: block;
  position: relative;
  bottom: 12px;
}
.saveWidth.mat-button{
  min-width: 30px!important;
}
.realcontainer .alert {
  margin-top: 10px;
  margin-bottom: unset;
}
.cursorOff{
  cursor: unset;
}
.hasCursor{
  cursor: pointer;
}
.NakamSearchList {
  height: 30px;
  width: 30px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  top: 3px;
}
.nakamasSearchData{
  display: flex;
  flex-direction: column;
}
.NakamaUsernameSearch{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 90px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.firstAndLastNameSearch {
  padding-left: 10px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.posRight{
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.addMembers button:focus{
  background: #3f51b5!important;
}
.posRightMember {
  position: absolute;
  right: 5px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.posRightMember .mat-chip {
  height: 10px;
  font-size: 9px;
  font-weight: 300;
}
mat-option{
  padding: 0 10px;
}
.flexMember {
  display: flex;
}
