<div class="modal-header">
  <h3 class="modal-title">Add files</h3>
  <button mat-button class="close" (click)="onNoClick()">
    <span>&times;</span>
  </button>
</div>
<div class="mobileHeader">
<button mat-button class="mobileCloseButton" (click)="onNoClick()"><span>&times;</span></button>
</div>
<div>
  <div class="padding">
    <div *ngIf="data?.group?.groupSize >= groupFileMaxSize" class="alert alert-danger">
      Sorry, NakamaWay is free and your Way has reached its storage limit (1GB). Make a little spring cleaning and continue your way to NakamaWay.
      <div *ngFor="let item of errorUploadItems">- {{item.file.name}}</div>
    </div>
    <div *ngIf="allUploadFailed" class="alert alert-danger">
      It seems something went wrong during upload process with:
      <div *ngFor="let item of errorUploadItems">- {{item.file.name}}</div>
    </div>
    <div *ngIf="onAddingItemFailed" class="alert alert-danger">
      {{errorMessage}}
    </div>

      <div class="row">

        <div class="col-12" *ngIf="uploader?.queue?.length===0">

          <div ng2FileDrop
               [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)"
               [uploader]="uploader"
               class="dropZone">
            Drop your files
          </div>
          <input style="display: none" type="file" id="multiple" ng2FileSelect [uploader]="uploader"
                 multiple #fileInput>
          <div class="centerUploadButton">
          <button mat-raised-button color="primary" (click)="fileInput.click(); clearFailedItems()" class="spaceUpOnMobile">Choose Files <mat-icon>cloud_upload</mat-icon>
          </button>
          </div>

        </div>

        <mat-form-field *ngIf="data.addMessage && uploader?.queue?.length > 0" appearance="outline" class="messageArea">
          <textarea matInput placeholder="Add a message with your upload" [formControl]="message"></textarea>
        </mat-form-field>

        <div class="col-12 fileQueueNone" [ngClass]="{'fileQueueBlock': uploader?.queue?.length>0}">

          <div class="queueLenght littleSpaceUp smallTypoUpload">Queue length: {{ uploader?.queue?.length }}</div>

          <div class="table-responsive tableHeightMobile">
          <table class="table table-sm">
            <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th class="notOnMobile">Progress</th>
              <th>Status</th>
              <th class="notOnMobile">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td class="maxNameWidth alignMiddle smallTypoUpload">{{ item?.file?.name }}</td>
              <td class="alignMiddle smallTypoUpload">{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              <td class="alignMiddle notOnMobile">
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>
              <td class="alignMiddle alignCenter">
                <span *ngIf="item.isSuccess"><mat-icon color="accent">check_circle_outline</mat-icon></span>
                <span *ngIf="item.isCancel" matTooltip="File upload canceled"><mat-icon color="accent">cloud_off</mat-icon></span>
                <span *ngIf="item.isError" matTooltip="Error during upload"><mat-icon color="accent">error</mat-icon></span>
              </td>
              <td class="notOnMobile">
                <div style="white-space: nowrap;">
                <button matTooltip="Upload the file" mat-icon-button color="accent" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                  <mat-icon aria-label="upload Icon">cloud_upload</mat-icon>
                </button>
                <button matTooltip="Cancel the upload" mat-icon-button color="accent" (click)="item.cancel()" [disabled]="!item.isUploading">
                  <mat-icon aria-label="cancel Icon">highlight_off</mat-icon>
                </button>
                <button matTooltip="Remove the item" mat-icon-button color="accent" (click)="item.remove()">
                  <mat-icon aria-label="remove Icon">remove_circle</mat-icon>
                </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          </div>

            <div>
              <div class="progress" style="height: 1px;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
            </div>
            <div class="buttonsResponsive">
            <button mat-raised-button color="primary"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length || data?.group?.groupSize >= groupFileMaxSize" class="marginButtonRight littleSpaceUp">Upload {{data.addMessage ? 'and send' : 'all '}}
              <mat-icon>cloud_upload</mat-icon>
            </button>
            <button mat-raised-button color="primary"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading" class="marginButtonRight littleSpaceUp" *ngIf="!data.addMessage">Cancel all
              <mat-icon>cancel</mat-icon>
            </button>
            <button mat-raised-button color="primary"
                    (click)="uploader.clearQueue(); clearFailedItems()" [disabled]="!uploader.queue.length" class="marginButtonRight littleSpaceUp" *ngIf="!data.addMessage">Remove all
              <mat-icon>delete</mat-icon>
            </button>
            </div>

        </div>

      </div>

  </div>
</div>
