.modal-header{
  padding-top: 0px!important;
  padding-right: 0px!important;
  padding-bottom: 1rem;
  padding-left: 0px!important;
}
.close {
  outline: none;
}

.dropZone {
  height: 150px;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.fileQueueNone{
  display: none;
}

.fileQueueBlock{
  display: block;
}

.nv-file-over {
  border: 2px dashed #f5c4fb;
}

.padding{
  padding: 10px 0;
}

.marginButtonRight{
  margin-right: 5px;
}
.centerUploadButton{
  display: flex;
  justify-content: center;
}

.maxNameWidth{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width:150px;
}
.mobileHeader{
  display: none;
}

.mobileCloseButton {
  padding: unset;
  position: relative;
  margin: -1rem -1rem -1rem auto;
}
@media screen and (max-width: 992px) {
  .dropZone {
    display: none;
  }
  .maxNameWidth{
    max-width: 94px;
  }
  .modal-header{
    display: none;
  }
  .mobileHeader{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .spaceUpOnMobile{
    margin-top: 10px;
  }
}
@media screen and (max-width: 555px) {
  .queueLenght{
    text-align: center!important;
    margin-top: 5px;
  }
}

@media screen and (max-width: 420px) {
  .notOnMobile{
   display: none;
  }
}
.alignMiddle{
  vertical-align: middle!important;
}
.alignCenter{
  text-align: center!important;
}
.buttonsResponsive{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.littleSpaceUp{
  margin-top: 10px;
}
.smallTypoUpload{
  font-size: 12px;
  font-weight: 200;
}

.tableHeightMobile{
  max-height: 150px;
}
.messageArea{
  width: 100%;
  padding: 0 15px;
}
