.chat_container{
  width: 100%;
  height: calc(100vh - 80px);
  margin: 0 auto;
  display: flex;
  border-top: 1px solid #202225;
  margin-top: 10px;
}
textarea[name=message] {
  width: 100%;
  height: 25px;
  max-height: 120px;
  //max-height: 250px;
  overflow-x:hidden;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
}
ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.sidebar {
  //width: 15vw;
  min-width: 200px;
  background-color: #202225;
  color: #fff;
  padding: 5px 10px;
}
@media (max-width: 570px){
  .sidebar {
    display: none;
  }
}
.sidebar section {
  margin-bottom: 20px;
}

.sidebar h2 {
  margin-bottom: 10px;
}
.sidebarMobile{
  position: absolute;
  z-index: 3;
  display: block;
}

.user-list li {
  margin-bottom: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.user-list{
  overflow-y: auto;
  height: calc(100vh - 150px);
}
.presence.online {
  background-color: green;
}
.chat-window {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-footer{
  padding: 10px 20px;
}

/*.chat-window > * {
  padding: 10px 20px;
}*/

.chat-header {
  padding: 0 20px;
  border-bottom: 1px solid #202225;
  max-height: 45px;
  min-height: 45px;
  display: flex;
  flex-direction: row;
}

.chat-session {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 3px;
}

.message-list {
  flex-grow: 1;
  overflow-y: hidden;
  margin-right: 4px;
  flex-direction: column;
  justify-content: flex-end;
}

.message-list:hover {
  margin-right: 0;
  overflow-y: auto;
}

.user-message {
  margin-top: 10px;
}

.user-message span {
  display: block;
}

.user-id {
  font-weight: bold;
  margin-bottom: 3px;
  display: flex!important;
  align-items: baseline;
}
.textMessage{
  white-space: pre-line;
  word-wrap: break-word;
  word-break: break-all;
  padding-left: 45px;
  padding-right: 20px;
  margin-top: -6px;
  font-size: 0.9375rem;
}

.chat-footer {
  //border-top: 1px solid #ccc;
  //min-height: 63px;
}
.chat_message_bar {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 100%;
}
.chat-footer form, .chat-footer .chat_message_bar, .chat-footer input {
  width: 100%;
}
.chat-footer form {
  display: flex;
  padding: 5px 0;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FCA5CF;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.mat-icon-button {
  outline: none;
}
.attachButtonDivider {
  -webkit-box-sizing: border-box;
  background-color: #FCA5CF;
  box-sizing: border-box;
  height: 80%;
  width: 1px;
  margin-right: 10px;
}
.messageTime{
  font-size: 10px;
  color: #616061;
}
.username{
  display: flex;
}
.avatar {
  height: 30px;
  width: 30px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 7px;
}
.wayAvatar {
  height: 30px;
  width: 30px;
  overflow: hidden;
  border-radius: 10px;
  margin: 7px;
  cursor: pointer;
}
hr {
    left: 0;
    right: 0;
    border-top: 1px solid #ddd;
    border-bottom: 0;
    margin: 0 0 -1px;
    top: -1px;
    position: relative;
}
.dateDivider{
  padding-right: 20px;
  text-align: center;
  margin-top: 20px;
}
.dateDivider span {
  background: #fff;
  position: relative;
  bottom: 15px;
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 700;
  color: #1d1c1d;
  cursor: default;
}
.upFrontSize{
  font-size: 32px!important;
}

@media (max-width: 570px){
  .emoji {
    display: none;
  }
}

.typinin{
  margin-top: 5px;
  padding-left: 45px;
  font-size: 0.8375rem;
  display: flex;
}
.avatarTypinMargin{
  padding-left: 0;
}
.nv-file-over {
  border: 20px dashed #FCA5CF;
  background: url(../../../../assets/naka4.gif) no-repeat center center fixed;
}
.nv-file-over .chat-header, .nv-file-over .chat-session, .nv-file-over .chat-footer{
  opacity: 0.4;
}
.file{
  padding-left: 45px;
  padding-right: 20px;
}
.messageVideo{
  width: 40vw;
  border-radius: 10px;
  overflow: hidden;
}
.videoResp{
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.messageFile{
  border: 1px solid rgba(29,28,29,.1);
  border-radius: 4px;
  display: inline-flex;
  padding: 0 10px;
  flex-direction: row;
}
.fileMessageInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
}
.icons {
  font-size: 3em;
  margin: auto;
}
.fileColor{
  color: #FEA7D1;
}
.relativeContainer{
  position: relative;
  display: inline-table;
}
.fileMessageContainer{
  margin-top: 6px;
  display: inline-table;
}
.optionFileButton{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 1;
}
.optionFileButton{
  display: none;
}
.fileMessageContainer:hover .optionFileButton{
  display: flex;
}
.fileMessageInfo div {
  font-size: 12px;
  font-weight: 300;
}

@media (max-width: 570px){
  .messageVideo{
    width:50vw
  }
  .optionFileButton{
    display: flex;
  }
}
@media (max-width: 390px){
  .messageVideo {
    width:100%
  }
  .fileMessageInfo strong {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width:200px;
  }
}

.typing-indicator {
  $ti-color-bg: #FCA5CF;
  background-color: $ti-color-bg;
  will-change: transform;
  border-radius: 50px;
  padding: 10px;
  display: table;
  position: relative;
  left: 3px;
  top: 3px;
  animation: 2s bulge infinite ease-out;

  &::after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
  }
  span {
    height: 5px;
    width: 5px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * .3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}
.chatMetaImg {
  margin-top: 5px;
  width: 30vw;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 570px){
  .chatMetaImg {
    width: 100%;
    height: auto;
  }
}
.attachment__border{
  flex-shrink: 0;
  width: 4px;
  background-color: #ddd;
  border-radius: 8px;
  margin-right: 10px;
}
.messageAttachment{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 45px;
  padding-right: 20px;
}
.metaData{
  display: flex;
  flex-direction: column;
}

@media (max-width: 410px){
  .chat-session {
    padding-left: 0;
    padding-right: 0;
  }
  .chat-footer {
    padding: 10px 0 0 0;
  }
  .chat_message_bar {
    border-top: 1px solid #ccc;
    border-radius: 0;
  }
  .dateDivider {
    padding-right: 0;
  }
}
.metaData a {
  color: #1264a3;
  font-weight: 500;
}
.youtube{
  width:400px;
  height:300px
}
.vimeo{
  width:400px;
  height:225px
}
@media (max-width: 710px){
  .youtube{
    width:288px;
    height:216px
  }
  .vimeo{
    width:297px;
    height:162px
  }
  .vp-center {
    display: block!important;
  }
  .groupData{
    margin-right: 0;
  }
  .fileMessageInfo strong {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 40vw;
  }
}
@media (max-width: 410px){
  .youtube{
    width:268px;
    height:201px
  }
  .vimeo{
    width:264px;
    height:144px
  }
  .messageAttachment{
    padding-right: 5px;
  }
}
@media (max-width: 360px){
  .youtube{
    width:232px;
    height:174px
  }
  .vimeo{
    width:231px;
    height:126px
  }
  .messageAttachment{
    padding-left: 10px;
    padding-right: 2px;
  }
}
.messageAttachment iframe {
  margin-top: 5px;
}
.groupData{
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  align-items: center;
}
.chatHeaderInUsers{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100vw - 180px);
}
.groupData button:hover {
  color: #FCA5CF;
}
.groupData mat-icon:hover {
  color: #FCA5CF;
}
.usersIn{
  cursor: pointer;
  padding: 0 5px;
  margin-right: 7px;
}
.online-members h4{
  text-align: center;
  margin-top: 5px;
}
.userInInfo{
  display: flex;
  flex-direction: row;
}
.groupInUsers{
  display: flex;
  flex-direction: row;
}
.userInName{
  display: flex;
  flex-direction: column;
}
.userInInfo img {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 7px;
}
.connectedUsername{
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width:100px;
}
.firstName{
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width:100px;
}
.isConnected{
  height: 11px;
  width: 11px;
  background-color: #43b581;
  border-radius: 50%;
  position: relative;
  right: 14px;
  top: 24px;
  margin-right: -11px;
  border: 2px solid #202225;
}
.spread{
  justify-content: space-between;
}
.right{
  justify-content: flex-end;
}
.groupInUsers .isConnected{
  border: 2px solid white;
  top: 20px;
}
.themLi li{
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.black:hover{
  background-color: #202225;
  color: white;
}
.cloud:hover{
  background: url(/../../../../assets/cloud.jpg) repeat center center fixed;
  color: white;
}
.garden:hover{
  background: #F3F3F3 url(/../../../../assets/garden.gif) repeat center center fixed;
}
.blackThem{
  background-color: #202225;
  color: #fff;
}
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
.blackThem aside{
  border-right: 1px solid #ddd;
}
.blackThem header{
  border-bottom: 1px solid #ddd;
}
.blackThem .dateDivider span {
  background: #202225;
  color: white;
}
.blackThem textarea {
  color: white;
}
.cloudThem .dateDivider span {
  background: #B1C7D6;
  border-radius: 10px;
}
.cloudThem aside {
  background: transparent;
}
.cloudThem aside {
  background: transparent;
  border-right: 1px solid #202225;
}
.centerSpinner {
  margin:0 auto;
}
.chatImg {
  width: 30vw;
  height: auto;
  transition: all .2s ease-in-out;
  border-radius: 10px;
}
@media (max-width: 570px){
  .chatImg {
    width: 50vw;
    height: auto;
    transition: all .2s ease-in-out;
  }
}
.invisibility{
  visibility: hidden;
}
.centerLoadingSpinner {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: calc(50% - 15px);
}
.newMessagePos{
  position: relative;
  right: 50%;
}
.newMessage{
  position: absolute;
  bottom: 1px;
  white-space: nowrap;
}
.messPrev{
  position: relative;
  left: -50%;
  font-size: 12px;
  font-weight: 600;
  background-color: aliceblue;
  padding-left: 5px;
  padding-right: 13px;
  cursor: pointer;
  max-width: 50vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 450px){
  .messPrev{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width:160px;
  }
}

@media (max-width: 380px){
  .messPrev{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width:120px;
  }
}

@media (max-width: 330px){
  .messPrev{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width:60px;
  }
}
.messPrev span{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  color: aliceblue;
  top: 3px;
  border-top: 1px solid #a4a4a4;
  border-right: 1px solid #a4a4a4;
  transform: rotate(135deg);
  transition: transform .3s;
}
.linksLi li {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.linkContainer{
  border-bottom: 1px solid #d7d7d7;
  padding: 10px;
  .chatLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    .chatLinksImg{
      width: 40px;
      height: auto;
      overflow: hidden;
      cursor: pointer;
    }
    .linksDetails{
      display: flex;
      flex-direction: column;
      max-width:60vw;
      margin-left: 10px;
      div{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .dataSize{
        font-weight: 300;
        font-size: 11px;
        margin-top: -2px;
        color: grey;
      }
    }
  }
}
