<div *ngIf="theme === 'CLOUD'" class="video-background">
  <div class="video-foreground">
    <iframe [attr.src]="link | safe" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="chat_container" [ngClass]="{'blackThem': theme === 'BLACK', 'cloudThem': theme === 'CLOUD'}">
  <aside class="sidebar" *ngIf="openConnectedUsers && connectedUsers" [ngClass]="{'sidebarMobile': innerWidth <= 570 && openConnectedUsers, 'sidebarBlackThem': theme === 'BLACK'}">
    <section class="online-members">
      <ul class="user-list">
        <li *ngFor="let user of connectedUsers">
          <div class="userInInfo">
          <img [attr.src]="user.avatarUrl" alt='nakamaDefaultPicture' (click)="openNakamaDetailDialog(user.avatarUrl, user.username)">
            <span class="isConnected"></span>
            <div class="userInName">
               <div class="connectedUsername">{{ user.username }}</div>
              <div class="firstName">{{ user.firstName }}&nbsp;{{ user.lastName }}</div>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </aside>
<main ng2FileDrop
      [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
      (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
      (onFileDrop)="dropped($event)"
      class="chat-window" >
  <header class="chat-header" [ngClass]="!openConnectedUsers && connectedUsers ? 'spread' : 'right'">
      <ul class="chatHeaderInUsers" *ngIf="!openConnectedUsers && connectedUsers">
      <li *ngFor="let user of connectedUsers">
          <div class="groupInUsers">
          <img class="avatar" [attr.src]="user.avatarUrl" alt='nakamaDefaultPicture' (click)="openNakamaDetailDialog(user.avatarUrl, user.username)"  matTooltip="{{user.username}}">
            <span class="isConnected"></span>
               <div *ngIf="!user.hasAvatar">{{ user.username }}</div>
          </div>
        </li>
        </ul>
    <div class="groupData">
      <button *ngIf="innerWidth > 570" class="them" mat-icon-button matTooltip="Theme" [matMenuTriggerFor]="them">
      <mat-icon aria-label="landscape">filter_vintage</mat-icon>
    </button>
      <button *ngIf="innerWidth <= 570" class="them" mat-icon-button matTooltip="Theme" (click)="handleTheme()">
        <mat-icon aria-label="landscape">filter_vintage</mat-icon>
      </button>
      <mat-icon class="usersIn"
                aria-label="connectedUsers"
                matBadgeSize="small"
                [matBadgeHidden]="connectedUsers.length === 0"
                matBadge={{connectedUsers.length}} matBadgeColor="#FCA5CF"
                matTooltip="Connected nakama"
                (click)="openConnectedUsers = !openConnectedUsers">people</mat-icon>
      <button class="them" mat-icon-button matTooltip="Links" [matMenuTriggerFor]="sharedlinks" (menuOpened)="linksMenuOpened()" (menuClosed)="linksMenuClosed()">
        <mat-icon aria-label="link">link</mat-icon>
      </button>
    <img  *ngIf="groupInitialized" class="wayAvatar" [attr.src]="myCurrentWay.avatarUrl" alt='wayAvatar' matTooltip="{{myCurrentWay.groupName}}" (click)="openNakamaDetailDialog(myCurrentWay.avatarUrl, myCurrentWay.groupName)">
      </div>
  </header>
  <section class="chat-session" id="chatSession">
    <div *ngIf="!bottomReachedOnOnit"  class="centerLoadingSpinner">
        <mat-spinner style="display: inline-block" color="accent" diameter="30"></mat-spinner>
    </div>
    <ul *ngIf="groupInitialized && personalDataLoaded" class="message-list" id="messageList" (scroll)="handleScroll($event)" [ngClass]="{'invisibility': !bottomReachedOnOnit}">
      <mat-spinner class="centerSpinner" *ngIf="messageLoading" color="accent" diameter="30"></mat-spinner>
      <li class="user-message" *ngFor="let message of messages; let i = index" [attr.id]="i">
        <div *ngIf="i === 0 && loadFirstDate" class="dateDivider"><span>{{ message.postedAt | date:'longDate' }}</span></div>
        <div *ngIf="i > 0 && !newDay(messages[i].postedAt, messages[i-1].postedAt)" class="dateDivider"><hr>
          <span>{{ message.postedAt | date:'longDate' }}</span>
        </div>
        <div class="username">
          <img class="avatar" [attr.src]="message.userAvatar" alt='nakamaDefaultPicture' (click)="openNakamaDetailDialog(message.userAvatar, message.username)">
          <span class="user-id">{{ message.username }}&nbsp;<span class="messageTime">{{ message.postedAt | date:'shortTime' }}</span></span>
        </div>
        <span class="textMessage" [ngClass]="{'upFrontSize': onlyMojisString(message.message)}" [innerHTML]="message.message | linkify"></span>
        <div class="messageAttachment" *ngIf="message.linkMetaData">
          <div class="attachment__border"></div>
          <div class="metaData">
          <div *ngIf="message.linkMetaData?.ogTitle"><a [attr.href]="message.linkMetaData.ogUrl" target="_blank">{{message.linkMetaData.ogTitle}}</a></div>
          <div *ngIf="message.linkMetaData?.ogDescription">{{message.linkMetaData.ogDescription}}</div>
            <div *ngIf="!message.linkMetaData?.ogVideo || message.linkMetaData?.ogImage?.type === 'image/gif' || message.linkMetaData?.ogSiteName ==='Dailymotion'">
              <img  (load)="checkLoadedMetaImg()" *ngIf="!isArray(message.linkMetaData?.ogImage) && checkIfImgSrcIsCorrect(message.linkMetaData.ogImage.url)" class="chatMetaImg" [attr.src]="message.linkMetaData.ogImage.url" alt='metaImage' [attr.id]="message.linkMetaData.ogImage.url">
              <img  (load)="checkLoadedMetaImg()" *ngIf="isArray(message.linkMetaData?.ogImage) && message.linkMetaData?.ogImage.length > 0 && checkIfImgSrcIsCorrect(message.linkMetaData.ogImage[0].url)" class="chatMetaImg" [attr.src]="message.linkMetaData.ogImage[0].url" alt='metaImage'>
            </div>
            <iframe (load)="checkLoadedMetaVideo()" *ngIf="message.linkMetaData?.ogVideo && message.linkMetaData?.ogImage?.type !== 'image/gif' && message.linkMetaData?.ogSiteName !=='Dailymotion'" [ngClass]="{'youtube': message.linkMetaData?.ogSiteName === 'YouTube', 'vimeo': message.linkMetaData?.ogSiteName === 'Vimeo'}" [attr.src]="message.linkMetaData.ogVideo.url | safe" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div *ngIf="message.file && message.file.length > 0">
          <div *ngFor="let file of message.file, last as lastFile" class="file">

            <div class="relativeContainer">
            <div class="fileMessageContainer">
              <div class="optionFileButton">
                <button mat-icon-button color="accent" (click)="openFileInfoDialog(file.fileId, fileType(file.filename))">
                  <mat-icon aria-label="infition">info</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="downloadFile(file.filename, file.mimetype, file.originalname)">
                  <mat-icon aria-label="cloudition">cloud_download</mat-icon>
                </button>
                <button *ngIf="myCurrentWay.isAdmin || file.postedBy === me._id" mat-icon-button color="accent" (click)="openDeleteFileDialog(file, message.timestamp)">
                  <mat-icon aria-label="deletion">delete</mat-icon>
                </button>
              </div>
              <img *ngIf="isImage(file.originalname)" class="chatImg" [attr.src]="docRootUrl + file.filename | secure | async" (load)="checkLoadedImg()" (error)="checkLoadedImg()" alt="fileImg"/>
              <!--<app-img-loader id="image" *ngIf="isImage(file.originalname)" [imgContainerClass]="chatImg" [lastImg]="lastFile" [imgSrc]="file.filename" [spinnerSrc]="loadingImg"></app-img-loader>-->
              <div class="messageFile" *ngIf="isOther(file.originalname)">
                <fa-icon [icon]="faFile" class="icons fileColor"></fa-icon>
                <div class="fileMessageInfo">
                  <strong>{{file.originalname}}</strong>
                  <div>{{file?.size/1024/1024 | number:'.2' }} MB</div>
                </div>
              </div>
              <div class="messageVideo" *ngIf="isVideo(file.originalname)">
              <video class="videoResp" (loadeddata)="checkLoadedVideo()" (error)="checkLoadedVideo()" controls>
                <source [attr.src]="docMovieRootUrl + file.filename">
              </video>
              </div>
            </div>
            </div>
          </div>
        </div>
      </li>
      <span class="typinin" [ngClass]="{'avatarTypinMargin': typingUser.hasAvatar}" *ngIf="isTyping">
        <span *ngIf="typingUser.hasAvatar">
        <img class="avatar" [attr.src]="typingUser.avatarUrl" alt='nakamaDefaultPicture' matTooltip="{{typingUser?.username}}">
      </span>
        <i *ngIf="typingUser && !typingUser.hasAvatar">{{typingUser?.username}}&nbsp;</i>
        <span class="typing-indicator" *ngIf="typingUser && typingUser.hasAvatar">
        <span></span>
        <span></span>
        <span></span>
        </span>
        <i *ngIf="typingUser && !typingUser.hasAvatar" class="isTyping"> is typing...</i>
      </span>
    </ul>
    <div class="newMessagePos" *ngIf="scrollToBottom" (click)="scrollTowardBottom()">
      <div class="newMessage">
        <div class="messPrev">{{messagePreview}}&nbsp;<span></span></div>
      </div>
    </div>
  </section>
  <footer class="chat-footer">
    <div class="chat_message_bar">
      <form id="fileUploadInput" style="display: none" >
      <input type="file" (change)="fileChangeEvent($event)"
             multiple #fileInput>
      </form>
    <button mat-icon-button color="primary" #docUpload (click)="fileInput.click()">
      <mat-icon aria-label="add files">add_circle</mat-icon>
    </button>
      <div class="attachButtonDivider"></div>
    <form class="chat_input" (keyup.enter)="sendMessage()" (keypress)="typing()">
      <textarea [ngClass]="{'upFrontSize': onlyNamamojis}" name="message" placeholder="Type a message" [formControl]="message" id="message"></textarea>
    </form>
      <button mat-icon-button color="primary" class="emoji" *ngIf="message.value" (click)="sendMessage()">
        <mat-icon aria-label="emoji">send</mat-icon>
      </button>
      <button mat-icon-button color="primary" class="emoji" [matMenuTriggerFor]="emoji">
        <mat-icon aria-label="emoji">insert_emoticon</mat-icon>
      </button>
      <mat-menu #emoji="matMenu" [overlapTrigger]="false">
        <div (click)="$event.stopPropagation()">
        <emoji-mart
          set="apple"
          title="Nakamoji"
          emoji="point_up"
          (emojiClick)="addEmoji($event)">
        </emoji-mart>
        </div>
      </mat-menu>
    </div>
  </footer>
</main>
</div>
<mat-menu #them="matMenu" [overlapTrigger]="false" xPosition="before" yPosition="below">
  <ul class="themLi">
    <li *ngIf="theme !== 'BLACK'" class="black" (click)="theme = 'BLACK';navWhiteBack(); handleBlackTheme()">
        <div>BLACK</div>
    </li>
    <li *ngIf="theme !== 'WHITE'" class="black" (click)="theme = 'WHITE'; navWhiteBack()">
      <div>WHITE</div>
    </li>
    <li *ngIf="theme !== 'CLOUD'" class="cloud" (click)="theme = 'CLOUD'; navTransparent()">
      <div>
        <div>CLOUD</div>
      </div>
    </li>
  </ul>
</mat-menu>

<mat-menu #sharedlinks="matMenu" [overlapTrigger]="false" xPosition="before" yPosition="below">
  <mat-spinner class="centerSpinner" *ngIf="!chatLinksLoaded" color="accent" diameter="30"></mat-spinner>
  <div *ngIf="chatLinksLoaded && chatLinks.length === 0">
    You have not shared any links on {{myCurrentWay.groupName}} yet
  </div>
  <div *ngIf="chatLinksLoaded && chatLinks.length > 0">
    <ul class="linksLi">
      <li *ngFor="let message of chatLinks" class="linkContainer" (click)="$event.stopPropagation()">
        <div class="chatLinks">
            <img *ngIf="!isArray(message.linkMetaData?.ogImage) && checkIfImgSrcIsCorrect(message.linkMetaData.ogImage.url)" class="chatLinksImg" [attr.src]="message.linkMetaData.ogImage.url" alt='metaImage' [attr.id]="message.linkMetaData.ogImage.url">
            <img *ngIf="isArray(message.linkMetaData?.ogImage) && message.linkMetaData?.ogImage.length > 0 && checkIfImgSrcIsCorrect(message.linkMetaData.ogImage[0].url)" class="chatLinksImg" [attr.src]="message.linkMetaData.ogImage[0].url" alt='metaImage'>
          <div class="linksDetails">
            <div *ngIf="message.linkMetaData?.ogTitle">
              <a [attr.href]="message.linkMetaData.ogUrl" target="_blank">{{message.linkMetaData.ogTitle}}
              </a>
            </div>
            <div *ngIf="message.linkMetaData?.ogDescription">{{message.linkMetaData.ogDescription}}</div>
            <div class="dataSize">Posted by <strong>{{message.username}}</strong> on {{message.postedAt | date:'shortDate'}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</mat-menu>
