<div class="modal-header">
  <h3 class="modal-title">Way Avatar</h3>
  <button mat-button class="close" (click)="onNoClick()">
    <span>&times;</span>
  </button>
</div>
<div mat-dialog-content>
  <div class="modal-body">
    <div *ngIf="badGifDimension" [ngClass]="{'hideCropper': gifDetected}" class="alert alert-danger">Only square GIF can be uploaded. Resize if first (for example <a href="https://ezgif.com/resize" target="_blank">here</a>) so that Width and Height are equals and upload it again.</div>
    <div *ngIf="badAvatarFormat" class="alert alert-danger">Oops... your file doesn't seem to be appropriate (allowed files: gif, png, jpeg)</div>
    <div *ngIf="avatarSizeTooBig" class="alert alert-danger">
      {{fileTooBigMessage}}
    </div>
    <div *ngIf="requestError" class="alert alert-danger">
      {{requestErrorMessage}}
    </div>
    <input #fileInput type="file" (change)="fileChangeEvent($event)" class="upload_input" />
    <!-- image crop feature -->
    <image-cropper [ngClass]="{'hideCropper': gifDetected}" *ngIf="imageCrop" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
                   [resizeToWidth]="0" format="png" (imageCropped)="imageCropped($event)">
    </image-cropper>
    <!-- options -->
    <div class="d-flex justify-content-around flex-wrap">
      <div class="littleSpaceUp">
        <button mat-raised-button color="primary" (click)="fileInput.click()">Choose image <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
      <div class="littleSpaceUp" *ngIf="data.wayInfo.hasAvatar">
        <button mat-raised-button color="primary" (click)="deleteWayAvatar()">Delete Avatar <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button [disabled]="confirmButtonDisabled" (click)="onUpload()">Confirm</button>
</div>
