<div class="resetPwCard">
  <form>
    <div class="centerVertical">
      <div class="seeText">Please enter your email below and check your mailbox for instructions</div><br>
      <mat-form-field>
        <input matInput placeholder="email" [formControl]="nakamail" type="email" name="email" [errorStateMatcher]="matcher" (keyup)="reInitError()">
        <mat-error *ngIf="nakamail.hasError('pattern') && !nakamail.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="nakamail.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div *ngIf="showEmailErrorMsg" class="alert alert-danger">
        {{errorMessage}}
      </div>
        <button mat-raised-button (click)="onSubmit()" color="primary">Email me the instructions</button>
    </div>
  </form>
</div>
