.resetPwCard{
  max-width: 400px;
  margin: 25vh auto 25vh auto;
  align-content: center;
}

.centerVertical{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centerVertical > * {
  width: 90%;
}

.seeText{
  background-color: rgba(255,255,255,0.5);
  border-radius: 10px;
}
