.imgCardDoc {
  width: 100%;
  height: auto;
  transition: all .2s ease-in-out;
}
.imgCardDoc:hover {
  transform: scale(1.1);
}
.loadingImg{
  width: 30vw;
  height: auto;
  transition: all .2s ease-in-out;
  border-radius: 10px;
}
.chatImg {
  width: 30vw;
  height: auto;
  transition: all .2s ease-in-out;
  border-radius: 10px;
}
@media (max-width: 570px){
  .chatImg {
    width: 50vw;
    height: auto;
    transition: all .2s ease-in-out;
  }
  .loadingImg {
    width: 50vw;
    height: auto;
    transition: all .2s ease-in-out;
  }
}
