.center {
  margin: auto;
  //width: 450px;
}
.rightIconMargin{
  margin-right: 6px;
  color: hotpink;
}
.groupNav{
  display: flex;
  flex-direction: row;
}
.alignWithNav{
  position: absolute;
  right: 0;
  margin-right: 25px;
  outline: none;
  cursor: pointer;
}
.arrowAlign{
  position: relative;
  top: 3px;
  right: 7px;

}
.changeSize{
  font-size: 20px;
  color: #FCA5CF;
}
nav + a button.mat-icon-button{
  width: 30px!important;
  height: 30px!important;
  line-height: unset;
}
@media (max-width: 570px){
  .label {
    display: none;
  }
  .center{
    width: 200px;
  }
  .alignWithNav{
    margin-right: 5px;
  }
  .rightIconMargin{
    margin-right: unset;
  }
}
button:focus {
  outline: none;
  border: 0;
  background: none;
}
