<div class="groupNav">
  <nav class="center" mat-tab-nav-bar animationDuration="500ms">
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      <mat-icon class="rightIconMargin">{{link.icon}}</mat-icon> <div class="label">{{link.label}}</div>
    </a>
  </nav>
<!--  <a routerLink="/way/settings" matTooltip="Group settings">
  <button class="alignWithNav" mat-icon-button>
  </button>
  </a>-->
  <mat-menu #groupMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item routerLink="/way/settings"><mat-icon>settings</mat-icon>Group Settings</button>
    <button mat-menu-item routerLink="/way/notifications"><mat-icon>notifications_active</mat-icon>Notification preferences</button>
    <button mat-menu-item (click)="openDeleteGroupDialog(myCurrentWay._id, myCurrentWay.groupName, myCurrentWay.isAdmin)"><mat-icon>exit_to_app</mat-icon>Leave Group</button>
  </mat-menu>
  <div class="alignWithNav"  [matMenuTriggerFor]="groupMenu">
    <mat-icon class="changeSize">settings</mat-icon>
    <mat-icon class="arrowAlign">arrow_drop_down</mat-icon>
  </div>
</div>
