@import './sass/variables';
@import './sass/mixins';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/alert';
@import '~ngx-toastr/toastr.css';
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '../node_modules/flatpickr/dist/flatpickr.css';
@import "~@ctrl/ngx-emoji-mart/picker";

.nakamaLoGif{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  background: url(/assets/nakamaLogin.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.settinGif{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  background: url(/assets/naka4.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.greyBackground{
  background-color: #fafafa;
}

.hideCropper .cropper {
  display: none !important;
}

.mat-menu-panel {
  position: relative;
  left: 10px;
}

.mat-tooltip{
  font-size: 12px !important;
}

@media (max-width: 599px){
  .mat-card-header {
    margin: unset !important;
  }
}

.modal-header .close {
  padding: unset;
  position: relative;
  top: 10px;
  margin: -1rem -1rem -1rem auto;
}

.modal-header .closeNakamawayDialog {
  padding: unset;
  position: relative;
  top: 18px;
  margin: -1rem -1rem -1rem auto;
}

.mat-mini-fab{
  width: 35px !important;
  height: 35px!important;
}

.home-card .mat-mini-fab{
  width: 30px !important;
  height: 30px!important;
}

.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon {
  width: unset;
  position: relative;
  top: 6px;
}

.mat-form-field {
  margin-bottom: -10px;
}

.my-full-screen-dialog .mat-dialog-container {
   max-height: 90vh;
}

.nakamaListTransparant .mat-dialog-container {
  overflow: unset!important;
  max-height: 90vh;
}

.noCursor .mat-option-text{
  display: flex!important;
}
.deleteModalFooterLine + .modal-footer {
  border-top: unset;
}
.mat-dialog-actions {
  padding: unset!important;
}
.mat-menu-panel {
  max-width: 280px;
}

@media (min-width: 550px){
  .mat-menu-panel {
    max-width: unset!important;
  }
}
.mat-menu-content {
  padding-top: unset!important;
  padding-bottom: unset!important;
}
body {
  overflow-x:hidden;
}
.mat-tab-link {
  height: 28px!important;
  min-width: 130px!important;
}
.mat-tab-header, .mat-tab-nav-bar {
  border-bottom: unset;
}
.mat-tab-links a {
    text-decoration: none;
}
@media (max-width: 570px){
  .mat-tab-link {
    height: 28px!important;
    min-width: unset!important;
  }
}
.iconPaddingUnset .mat-mini-fab .mat-button-wrapper {
  padding: unset;
}
.toast-success{
  background-color: #FCA5CF;
}
.mat-button-toggle-checked {
  background-color: unset!important;
  color: #FCA5CF!important;
}
.mat-button-toggle-group, .mat-button-toggle-standalone {
  box-shadow: unset!important;
  height: 36px!important;
}

.matColor {
  background-color: #FCA5CF;
}
.avoidOverflow .mat-chip-list-wrapper {
  margin: unset!important;
}
.nakawayFlex, .mat-form-field-suffix {
  font-size: 12px;
}
.matColorPrimary{
  background-color:#3F51B5;
}
.findMember .mat-form-field-infix {
  border-top: unset!important;
}
.cal-month-view .cal-day-badge {
  background-color: #FEA7D1!important;
}
.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  position: relative;
  bottom: 9px;
}
.wrapBlock .flatpickr-wrapper {
  display: block;
}
.cal-day-view .cal-time {
  padding: 10px;
}

@-webkit-keyframes color-change {
  0% { color: white; }
  50% { color: blue; }
  100% { color: white; }
}
@-moz-keyframes color-change {
  0% { color: white; }
  50% { color: blue; }
  100% { color: white; }
}
@-o-keyframes color-change {
  0% { color: white; }
  50% { color: blue; }
  100% { color: white; }
}
@keyframes color-change {
  0% { color: white; }
  50% { color: blue; }
  100% { color: white; }
}
.highlightDayEvent span {
  padding: 5px;
  font-weight: 600!important;
  font-size: 14px!important;
  color: white!important;
  -webkit-animation: color-change 2s 2;
  -moz-animation: color-change 2s 2;
  -o-animation: color-change 2s 2;
  animation: color-change 2s 2;

}

/* Chrome, Safari, Opera */
@-webkit-keyframes drawBorderFromCenter {
  0% {
    background-size: 0 2px, 0 0, 100% 100%;
  }
  20% {
    background-size: 100% 2px, 100% 0, 100% 100%;
  }
  66%
  {
    background-size: 100% 2px, 100% 98%, 100% 100%;
  }
  99%
  {
    background-size: 100% 2px, 100% 98%, 0 2px;
  }
}

.highlightDayEvent{
  padding: 2px;
  border-radius: 5px;
  background-color: #3F51B5; /* gold */
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAD9Rtf///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),  url('data:image/gif;base64,R0lGODlhAQABAPAAAD9Rtf///yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='),
  url('data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');
  background-repeat: no-repeat;
  background-size: 0 2px, 0 100%, 0 2px;
  background-position: top center, top center, bottom center;
  -webkit-animation: drawBorderFromCenter 4s;
}
.mat-button-toggle-button {
  outline: none!important;
}
.towardEvent{
  cursor: pointer;
}
.towardEvent:hover{
  color: #3F51B5;
  text-decoration: underline;
}
.evenTitleToast{
  cursor: pointer;
  text-transform: uppercase;
}
.evenTitleToast:hover{
  color: #3F51B5;
  text-decoration: underline;
}
.toast-info {
  background-color: #FCA5CF;
  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='iso-8859-1'?%3E%3C!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 58 58' style='enable-background:new 0 0 58 58;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpolygon style='fill:%23F05565;' points='46.5,4 46.5,8 39.5,8 39.5,4 15.5,4 15.5,8 8.5,8 8.5,4 0.5,4 0.5,15 54.5,15 54.5,4 '/%3E%3Cpolygon style='fill:%23EFEBDE;' points='8.5,15 0.5,15 0.5,58 54.5,58 54.5,15 46.5,15 39.5,15 15.5,15 '/%3E%3Cpath style='fill:%23D5D0BB;' d='M37.5,22h-2h-7h-2h-7h-2h-9v9v2v7v2v9h9h2h7h2h7h2h9v-9v-2v-7v-2v-9H37.5z M28.5,24h7v7h-7V24z M35.5,40h-7v-7h7V40z M19.5,33h7v7h-7V33z M19.5,24h7v7h-7V24z M10.5,24h7v7h-7V24z M10.5,33h7v7h-7V33z M17.5,49h-7v-7h7V49z M26.5,49h-7v-7h7V49z M35.5,49h-7v-7h7V49z M44.5,49h-7v-7h7V49z M44.5,40h-7v-7h7V40z M37.5,31v-7h7v7H37.5z'/%3E%3Crect x='8.5' style='fill:%2336495E;' width='7' height='8'/%3E%3Crect x='39.5' style='fill:%2336495E;' width='7' height='8'/%3E%3Crect x='19.5' y='33' style='fill:%237F6E5D;' width='7' height='7'/%3E%3C/g%3E%3Cg%3E%3Ccircle style='fill:%2376C9B0;' cx='46.5' cy='47' r='11'/%3E%3Cpath style='fill:%23FFFFFF;' d='M52.5,46h-5v-5c0-0.552-0.447-1-1-1s-1,0.448-1,1v6c0,0.552,0.447,1,1,1h6c0.553,0,1-0.448,1-1 S53.053,46,52.5,46z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E")!important;
}

.groupAvatarToastr {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.mat-standard-chip {
  min-height: unset!important;
}

.groupData .mat-badge-content {
  background: #43b581;
}

.tabGroup .mat-tab-labels {
  display: flex;
  justify-content: center;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: unset!important;
}
th button:focus {
  outline: none!important;
}
.flexContainer{
  .mat-card{
    background-color: unset;
  }
  @media (max-width: 410px){
    .mat-card{
      width: 100%;
    }
  }
}
.blackTheme {
  background-color: #202225!important;
  mat-toolbar {
    background-color: #202225!important;
    mat-icon{
      color: white!important;
    }
  }
  app-group-title {
    color: white!important;
  }
  app-group-nav-bar {
    mat-icon{
      color: white!important;
    }
    mat-icon + div{
      color: white!important;
    }
  }
  .chat_container{
    border-top: 1px solid white!important;
  }
  app-app-navbar {
    .nakamaWayLogo{
      background-color: rgba(255, 255, 255, .5);
      border-radius: 25px;
    }
  }
}
